@font-face {
    font-family: 'exo_2regular';
    src: url('../fonts/exo2-regular-webfont.eot');
    src: url('../fonts/exo2-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-regular-webfont.woff2') format('woff2'),
         url('../fonts/exo2-regular-webfont.woff') format('woff'),
         url('../fonts/exo2-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ikra_slabregular';
    src: url('../fonts/ikraslab-webfont.eot');
    src: url('../fonts/ikraslab-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ikraslab-webfont.woff2') format('woff2'),
         url('../fonts/ikraslab-webfont.woff') format('woff'),
         url('../fonts/ikraslab-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'playregular';
    src: url('../fonts/play-regular-webfont.eot');
    src: url('../fonts/play-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/play-regular-webfont.woff2') format('woff2'),
         url('../fonts/play-regular-webfont.woff') format('woff'),
         url('../fonts/play-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'multicolore_regular';
    src: url('../fonts/multicolore-webfont.eot');
    src: url('../fonts/multicolore-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/multicolore-webfont.woff2') format('woff2'),
         url('../fonts/multicolore-webfont.woff') format('woff'),
         url('../fonts/multicolore-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}