@charset "UTF-8";

body {
    font-size: 16px;
    background-color: #fff;
	color: #30363a;
    font-family: 'playregular', sans-serif;
}
h1 {
	font-size: 30px;
	font-weight: normal;
	color: #2a2d2f;
	margin: 30px 0;
}
h2 {
	font-size: 22px;
	font-weight: normal;
}
h3 {
	font-size: 21px;
	font-weight: normal;
	position: relative;
}
h4 {

}
h5 {

}
h6 {

}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.bg-color-black {
	background-color: #30363a;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;	
}
.bg-color-black:hover {
	background-color: #4f565a;
}
.bg-color-blue {
	background-color: #00baff;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.bg-color-blue:hover {
	background-color: #00ccff;
}
.bg-color-red {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	background-color: #ff4c4c;
}
.bg-color-red:hover {
	background-color: #ff7373;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.btn1 {
	padding: 9px 21px 9px 40px;
	font-size: 16px;
	color:#fff;
	display: inline-block;
	white-space: nowrap;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.btn1:hover {
	text-decoration: none;
	color:#fff;
}
.btn1 i {
	position: absolute;
	top:11px;
	left:14px;
	color:#fff;
	font-size: 19px;
}
.btn2 {
	font-size: 18px;
	color:#fff;
	white-space: nowrap;
	padding: 17px 50px;
	padding-bottom: 18px;
	display: inline-block;
	position: relative;
	margin-left: -76px;
}
.btn2 i {
	position: absolute;
	left:7px;
	top:11px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	padding: 7px;
	padding-right: 8px;
	padding-left: 8px;
	border:3px solid #fff;
}
.btn2:hover {
	color:#fff;
	text-decoration: none;
}
.btn3 {
	display: inline-block;
	padding: 9px 30px;
	padding-bottom: 9px;
	color:#fff;
	font-size: 16px;
	border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.btn3:hover {
	color:#fff;
	text-decoration: none;	
}
.btn4 {
	position: relative;
	color:#fff;
	width: 194px;
	padding: 7px 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.btn4:hover {
	color:#fff;
	text-decoration: none;
}
.btn1:focus {
	text-decoration: none;
}
.btn2:focus {
	text-decoration: none;
}
.btn3:focus {
	text-decoration: none;
}
.btn4:focus {
	text-decoration: none;
}
.firstfix {
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
}

/*header*/

.header-top {
	min-height: 30px;
	background-color: #2a2d2f;
}
.header-top p {
	font-size: 14px;
	color:#fff;
	margin: 5px 0;
}
.header-top__submit-search {
	height: 30px;
	width: 50px;
	position:relative;
	background-color: #30363a;
	border:none;
	display: inline-block;
	float: right;
	cursor: pointer;
}
#menu-container {
	text-align: center;
}
.header-top__submit-search i {
	position:absolute;
	top:6px;
	left:16px;
}
.header__top-desc {
	display: none;
}
.header-top__submit-search i {
	color:#c1c1c1;
}
.header__basket-text {
	display: none;
}
.header-top__search {
	display: inline-block;
	border:none;
	height: 29px;
	width: 0;
	padding: 0;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.header__basket {
	height: 59px;
	float: right;
	padding: 17px 27px;
	margin-left: 0;
}
#header__form-search {
	position: relative;
}
#header__form-search input {
	position: absolute;
	right: 50px;
}
.header-top__search-open {
	width: 360px;
	padding: 0 10px 1px;
    background-color: #ededed;
}
.header-bottom__link {
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	border:1px solid #f5f5f5;
	color: #30363a;
	height: 59px;
	line-height: 17px;
	margin-top: 19px;
}
.header-bottom__link:hover {
	color: #30363a;
}
.header-bottom__link i {
	position: absolute;
	display: none;
	left:12px;
	top:13px;
	font-size: 15px;
	padding: 7px;
	border:3px solid #00baff;
	color: #00baff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.header-bottom__link:hover {
	border: 1px solid #ededed;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}
.header-bottom__link .fa-usd {
	padding-left: 11px;
	padding-right: 11px;
}
.header-bottom__link-wrap {
	display: inline-block;
	vertical-align: bottom;
	margin-top: 0;
}
.header-bottom__link-wrap-link1 {
	margin: 0;
}
.header-bottom__logo {
	margin-top: 30px;
	margin-bottom: 16px;
	display: inline-block;
}
.header-bottom-call {
	margin-top: 28px;
	display: none;
}
.header-bottom-right-wrap {
	display: inline-block;
	margin-left: 0;
	text-align: right;
	margin-top: 23px;
	width: 100%;
}
.phone {
	font-size: 22px;
}
.header-bottom-city {
	font-size: 14px;
	color:#fff;
	margin-top: 4px;
	display: inline-block;
}
.header-bottom-city a {
	color: #fff;
	text-decoration: underline;
	display: inline-block;
	margin-left: 5px;
}
.basket__value {
	position: absolute;
	top:0;
	right: 0;
	padding: 17px 7px;
	background-color: #f93c3c;
	display: none;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.header-bottom__phone {
	display: inline-block;
}
.header-nav-list li {
	float: left;
	position: relative;
}
.header-nav-list {
	display: none;
}
.header-nav-list a {
	padding: 18px 11px;
	padding-bottom: 20px;
	display: block;
	position: relative;
	color: #30363a;
	text-decoration: none;
}
.header-nav-list a:hover {
	background-color: #00baff;
	color:#fff;
}
.header-nav-list li:hover .header-nav-list__level2 {
	display: block;
}
.header-nav {
	margin-top: 14px;
	background-color: #f5f5f5;
}
.header-nav-list__dropdown-menu a {
	padding-right: 25px;
	background-color: #ededed;
}
.header-nav-list__dropdown-menu i {
	position: absolute;
	font-size: 22px;
	right: 7px;
	top:21px;
}
.header-nav-list__level2 {
	display: none;
	position: absolute;
	top:60px;
	left:0;
	width: 470px;
	background-color: #2a2d2f;
	z-index: 99;
}
.header-nav-list__level2 li {
	width: 100%;
	position: relative;
}
.header-nav-list__level2 li:hover .header-nav-list__level3 {
	display: block;
}
.header-nav-list__level2 a {
	background-color: transparent;
	color:#fff;
	font-size: 18px;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}
.header-nav-list__level2 a:hover {
	background-color:#30363a;
}
.header-nav-list__level3 {
	display: none;
	position: absolute;
	top:0;
	left: 470px;
	width: 100%;
	background-color:#30363a;
	z-index: 99;
}
.header-nav-list__level3 a:hover {
	color: #00baff;
}
.header-nav-list__level2 i {
	top:11px;
	color: #00baff;
}
.header-nav-list__level2 a:hover i {
	color:#fff;
}
/*end header*/

/*content*/
.banner {
	height: auto;
	position: relative;
	background: url(../images/!userfiles/1.jpg) no-repeat center;
	padding-bottom: 20px;
	background-size: cover;
}
.banner__title {
	color:#fff;
	font-size: 34px;
}
.banner__vertical-align-wrap {
	display: table;
	height: auto;
}
.banner__inline-block-wrap {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.banner__submit {
	margin-top: 0;
	display: inline-block;
}
.banner__inline-block-wrap p {
	font-size: 18px;
}
.banner-form__block-wrap {
	display: table-cell;
	vertical-align: middle;
}
.banner__form {
	padding: 35px 0;
	background: #30363a;
}
.banner__form p {
	color:#fff;
	margin-top: 0;
	font-size: 14px;
}
.banner__form input {
	width: 100%;
	height: 40px;
	border:none;
	display: inline-block;
	padding: 0 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.bannder-form-input-wrap {
	display: inline-block;
	margin-right: 5px;
	width: 39%;
	position: relative;
}
.banner__delaer--wrap {
	width: 100%;
}
.banner__delaer--wrap p {
	text-align: left;
}
.bannder-form-input-wrap input.error-validate {
	margin-top: 0;
}
.bannder-form-input-wrap span.error-validate {
	position: absolute;
	bottom: -22px;
	left:0;
}
.banner-form__wrap {
	display: none;
	position: relative;
	z-index: 9;
	height: auto;
	margin-top: 40px;
}
.img-block p {
	font-size: 18px;
	text-align: center;
}
.catalog-list-page h1 {
	font-size: 22px;
}
.img-block {
	padding: 50px 0;
}
.img-block__wrap-img {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
}
.img-block__wrap-img a {
	display: inline-block;
}
.img-block__submit {
	margin-top: 30px;
}
.catalog {
	padding-top: 30px;
	background-color: #f5f5f5;
	position: relative;
}
.catalog__product-list {
	margin-top: 50px;
}
.catalog__product-list li {
	float: left;
	width: 50%;
}
.catalog__product-list a {
	padding-left: 23px;
	padding-right: 23px;
	padding-top: 40px;
	width: 100%;
	height: 236px;
	position: relative;
	display: inline-block;
}
.catalog__img-title {
	position: absolute;
	top:170px;
	left:0;
	padding-left: 6px;	
	padding-right: 6px;
	color: #30363a;
}
.catalog__product-list a:hover {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ededed;
}
.catalog__submit-wrap {
	margin-top: 40px;
	text-align: center;
}
.catalog__3d-submit {
	margin-top: 15px;
}
.catalog__title-line {
	position: relative;
	padding-bottom: 35px;
	margin-bottom: 50px;
}
.catalog__title-line:before {
	content: '';
	position: absolute;
	left:0;
	bottom: 0;
	background-color: #00baff;
	width: 70px;
	height: 3px;
}
.catalog__right-col-wrap {
	padding-left: 15px;
}
.catalog__right-col-wrap p {
	color: #585858;
}
.catalog__right-col-wrap ul {
	padding-left: 25px;
	margin-top: 40px;
}
.catalog__right-col-wrap ul li {
	position: relative;
	margin-bottom: 5px;
	font-size: 18px;
	width: 100%;
	float: left;
}
.catalog__right-col-wrap ul a {
	color: #30363a;
}
.catalog__right-col-wrap ul li:last-child {
	margin-bottom: 0;
}
.catalog__right-col-wrap ul i {
	position: absolute;
	left:-20px;
	font-size: 22px;
	color: #00baff;
	top:2px;
}
.plus {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #30363a;
}
.product__in-stock {
	display: none !important;
}
.plus h2 {
	color:#fff;
}
.plus__list {
	margin-top: 20px;
}
.plus__list li {
	position: relative;
	text-align: center;
	float: left;
	width: 100%;
	margin-top: 20px;
	padding-top: 150px;
	background: url(../images/icon-sprite.png) no-repeat;
}
.plus__list li p {
	font-size: 18px;
	color:#fff;
}
.plus__icon1 {
	background-position: center 0 !important;
}
.plus__icon2 {
	background-position: center -322px !important;
}
.plus__icon3 {
	background-position: center -670px !important;
}
.plus__icon4 {
	background-position: center -1079px !important;
}
.clients {
	background-color: #f5f5f5;
	padding: 40px 0;
	overflow: hidden;
}
.clients__list li {
	float: left;
	text-align: center;
	padding: 0 5px;
	line-height: 60px;
	width: 22.5%;
}
.clients__list li.clearfix {
	float: none;
}
.clients__list li a {
	display: inline-block;
}
.clients__list li img {
	vertical-align: middle;
	max-width: 100%;
}
.header__basket:hover .basket__value {
	background-color: #ff4c4c;
}
.other-desc {
	padding: 40px 0;
	background-color: #fff;
}
.other-desc p {
	font-size: 18px;
	line-height: 24px;
}
#category-sm-cont {
	text-align: right;
	margin-top: 34px;
}
#category-sm-cont a {
	display: inline-block;
}
#category-sm-cont i {
	color: #2e2e2e;
	font-size: 28px;
	display: inline-block;
}
.product {
	background-color:#f5f5f5;
	padding-bottom: 50px;
}
.product__catalog-list {
	margin-top: 30px;
}
.catalog-list {
	background-color: #f5f5f5;
	padding-top: 30px;
}
.product__catalog-list li {
	float: left;
	width: 50%;
}
.product__catalog-list a {
	display: block;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	height: 300px;
}
.product__catalog-list a:hover {
	background-color:#ededed;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.product__catalog-list-img-wrap {
	height: 190px;
	position: relative;
}
.product__catalog-list-img-wrap img {
	position: absolute;
	bottom: 0;
	left:0;
}
.product__catalog-list-title {
	padding-top: 20px;
	padding-right: 0;
	font-size: 14px;
	color: #30363a;
}
.catalog-all-list {
	padding: 25px 0;
	background-color:#30363a;
}
.catalog-all-list__list li i {
	position: absolute;
	left:0;
	top:0;
	color: #00baff;
	font-size: 22px;
}
.catalog-all-list__list li {
	position: relative;
	float: left;
	padding: 0 10px;
	width: 100%;
	margin-bottom: 10px;
}
.catalog-all-list__list a {
	color:#fff;
	display: inline-block;
	margin-left: 20px;
}
.news__main img {
	margin-bottom: 30px;
}
.other-news {
	padding: 1px 20px;
	display: none;
	background-color:#f5f5f5;
}
.news__main {
	margin-top: 45px;
}
.other-news__item-date {
	margin: 35px 0 30px 0;
}
.other-news__item-title {
	font-size: 22px;
	line-height: 25px;
	position: relative;
	padding-bottom: 30px;
}
.other-news__item-title:before {
	content: '';
	position: absolute;
	left:0;
	bottom: 0;
	width: 53px;
	height: 3px;
	background-color: #00baff;
}
.other-news__item p {
	line-height: 18px;
}
.other-news__learn-link {
	font-size: 18px;
	color: #00baff;
	border-bottom: 2px solid #6bd4fb;
}
.other-news__learn-link:hover {
	text-decoration: none;
	color: #00ccff;
}
.other-news__item {
	padding-bottom: 25px;
	border-bottom: 1px solid #ededed;
}
.other-news .other-news__item:last-child {
	border-bottom: none;
}
.news-page {
	padding-bottom: 40px;
}
.news-page h1 {
	position: relative;
}
.news-page h1:before {
	content: '';
	left:0;
	bottom: -30px;
	width: 53px;
	height: 3px;
	background-color: #00baff;
	position: absolute;

}
.news__date {
	margin-top: 50px;
	font-size: 20px;
}
.news__nav-arrow {
	margin-top: 50px;
}
.news__nav-arrow-prev {
	float: left;
	padding-left: 40px;
}
.news__nav-arrow-next {
	float: right;
	padding-right: 40px;
}
.news__nav-arrow-next i {
	right: 0;
	top:0;
}
.news__nav-arrow-prev i {
	left: 0;
	top:0;
}
.news__nav-arrow i {
	position: absolute;
	top:-4px;
	width: 32px;
	height: 32px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background-color: #f5f5f5;
	font-size: 20px;
}
.news__nav-arrow .fa-angle-left:before {
	margin-left: 11px;
	line-height: 30px;
}
.news__nav-arrow  .fa-angle-right:before {
	margin-left: 13px;
	line-height: 30px;
}
.news__nav-arrow a {
	color: #3c3c3b;
	position: relative;
}
.news__nav-arrow a:hover {
	text-decoration: none;
}
.news__nav-arrow a:hover i {
	background-color:#00baff;
	color:#fff;
}
.other-news__item img {
	margin: 40px 0 30px;
}
.all-news {
	border-top: 1px solid #f5f5f5;
}
.dev-wrapper {
	display: none;
}
.other-news__item-title {
	margin-bottom: 38px;
}
.pagination__list {
	margin: 55px 0;
	display: inline-block;
}
.pagination__list li {
	display: inline-block;
}
.pagination__list a {
	display: inline-block;
	margin: 0 10px;
	color: #30363a;
}
.pagination__list a:hover {
	text-decoration: none;
	color: #00baff !important;
}
.pagination__list a i {
	width: 32px;
	height: 32px;
	color:#fff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background-color: #30363a;
	line-height: 32px;
}
.pagination__active {
	color: #00baff !important;
	border-bottom: 2px solid #00baff;
}
.pagination__arrow:hover i {
	color:#fff;
	background-color: #00baff;
}
#map {
	height: 340px;
	margin-top: 40px;
	width: 100%;
}

.previous_page {
    width: 32px;
    height: 32px;
    color: rgb(255, 255, 255) !important;
    border-radius: 100%;
    line-height: 1;
    background-color: rgb(48, 54, 58);
    display: inline-block;
    padding-top: 7px;
    font-family: FontAwesome;
    margin: 0 10px;
}

.next_page {
     width: 32px;
    height: 32px;
    color: rgb(255, 255, 255) !important;
    border-radius: 100%;
    line-height: 1;
    background-color: rgb(48, 54, 58);
    display: inline-block;
    padding-top: 7px;
    font-family: FontAwesome;
    margin: 0 10px;
}

.current {
    color: #00baff;
}

.modal-content-black {
	background-color:#30363a !important;
	color:#fff !important;
}
#mobile-menu {
	display: block;
	cursor: pointer;
	float: left;
	line-height: 10px;
	margin-top: 19px;
}
#mobile-menu i {
	font-size: 28px;
	color: #2e2e2e;
	line-height: 21px;
}
#sm-container {
	background-color: #ededed;
	margin-top: 60px;
	padding-bottom: 30px;
}
#sm-modal {
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 30px 20px;
	border:none;
}
#sm-modal .close {
	display: none;
}
#sm-modal .modal-body input:first-child {
	margin-top: 0;
}
#sm-modal .modal-body input {
	width: 100%;
	margin: 0;
	margin-top: 35px;
}
#sm-modal .modal-body textarea {
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	border:none;
	padding: 10px;
	height: 126px;
	resize: none;
	margin-top: 35px;
}
.breadcrumbs {
	background-color: #30363a;
	padding: 8px 0;
}
.breadcrumbs li {
	float: left;
	margin-right: 20px;
	font-size: 12px;
	color: #00baff;
	position: relative;
}
.breadcrumbs li:after {
	content: '>';
	position: absolute;
	top:0;
	right: -13px;
	color: #ededed;	
}
.breadcrumbs a {
	color: #ededed;	
}
.breadcrumbs li:last-child:after {
	content: '';
}
.filter-top p {
	margin: 35px 0 0;
	display: inline-block;
}
.filter-top__select-wrap {
	display: inline-block;
}
.select2-search {
	display: none;
}
.select2-container--default .select2-selection--single {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border:1px solid #ededed;
}
.filter__select {
	width: 200px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	text-align: left;
	padding: 0 30px 0 12px;
}
.select2-dropdown {
	background-color: #2a2d2f;
	color:#fff;
	border:none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #30363a;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #30363a;	
}
.select2-results__option {
	padding: 6px 14px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	display: none;
}
.filter-top__select-wrap p {
	margin-right: 30px;
}
.select2 .fa {
	position: absolute;
	top:6px;
	right: 13px;
}
.catalog-list__left-block {
	background-color: #2a2d2f;
}
.catalog-list__left-block li a {
	font-size: 18px;
	color:#fff;
	padding: 10px 23px 10px 20px;
	display: block;
	position: relative;
}
.catalog-list__left-block li a:hover {
	text-decoration: none;
	background-color: #30363a;
}
.catalog-list__item li {
	position: relative;
	float: left;
	width: 50%;
	padding: 10px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	-webkit-transition: all 0.1s ease-out 0s;
	-moz-transition: all 0.1s ease-out 0s;
	-o-transition: all 0.1s ease-out 0s;
	transition: all 0.1s ease-out 0s;
}
.catalog-list__item img {
	width: 100%;
}
.item__stock {
	position: absolute;
	right: 0;
	top:30px;
	background-color: #f93c3c;
	color: #ededed;
	padding: 8px;
}
.item__stock:after {
	content: '';
	position: absolute;
	left:-12px;
	top:0;
	width: 0;
	height: 0;
	border-top: 19px solid #f93c3c; 
	border-left: 12px solid transparent;	
}
.item__stock:before {
	content: '';
	position: absolute;
	left:-12px;
	bottom:0;
	width: 0;
	height: 0;
	border-bottom: 19px solid #f93c3c; 
	border-left: 12px solid transparent;
}
.catalog-list__item li:hover {
	background-color: #ededed;
}
.catalog-list__item p {
	font-size: 12px;
	margin: 13px 0;
	line-height: 22px;
}
.item__old-price {
	display: inline-block;
	font-size: 16px;
	float: left;
	position: relative;
	padding: 0 3px;
	line-height: 27px;
}
.item__old-price:after {
	content: '';
	position: absolute;
	left:0;
	top:13px;
	width: 100%;
	height: 1px;
	background-color: red;
	-ms-transform: skewY(10deg);
	-webkit-transform: skewY(10deg);
	-o-transform: skewY(10deg);
	-moz-transform: skewY(10deg);
	transform: skewY(10deg);
}
.item__old-price:before {
	content: '';
	position: absolute;
	left:0;
	top:13px;
	width: 100%;
	height: 1px;
	background-color: red;
	-ms-transform: skewY(-10deg);
	-webkit-transform: skewY(-10deg);
	-o-transform: skewY(-10deg);
	-moz-transform: skewY(-10deg);
	transform: skewY(-10deg);
}
.item__price {
	font-size: 22px;
	line-height: 40px;
	float: left;
}
.bradcrumbs-list {
	padding-left: 6px;
}
.catalog-list__item li .btn4 {
	display: block;
}
.item__rubl {
	font-size: 14px;
}
.item__button i {
	width: 40px;
	right: 0;
	top:0;
	font-size: 16px;
	line-height: 34px;
	height: 100%;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;	
	border-bottom-right-radius: 5px;
	background-color: #00ADFF;
	text-align: center;
	position: absolute;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.item__button {
	display: inline-block;
	font-size: 12px;
	padding: 7px;
	width: 100%;
}
.item__button:hover i {
	background-color: #00baff;
}
.catalog-list__item > .clearfix {
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
}
.category__desc {
	padding:40px 0;
}
.category__desc h2 {
	padding-bottom: 30px;
	margin-bottom: 30px;
	position: relative;
}
.line-bottom:after {
	content: '';
	bottom: 0;
	left:0;
	width: 54px;
	height: 3px;
	background-color: #00baff;
	position: absolute;
}
.catalog-list-item a {
	font-size: 14px;
}
.catalog-list-item a {
	margin-left: 13px;
}
.catalog-list-item li:last-child a {
	color: #00baff;
	text-decoration: underline;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;	
}
.catalog-list-item li:last-child a:hover {
	color:#00ccff;
}
.catalog-list__level2 {
	background-color: #ededed;
}
.catalog-list__level2 li a {
	color: #2a2d2f;
}
.catalog-list__level2 li a:hover {
	background-color: transparent;
	color: #00baff;
}
.catalog-list__left-block-active > a {
	background-color: #00baff;
}
.catalog-list__left-block-active > a:hover {
	background-color: #00baff !important;
}
.catalog-list__left-block li i {
	position: absolute;
	top:12px;
	right: 12px;
	font-size: 22px;

}
.catalog-list__left-block a:focus {
	text-decoration: none;
}
.item__stock--product {
	right: auto;
	left:0;
}
.product-main__img-cont {
	position: relative;
}
.item__stock--product:after {
	border-top: 19px solid #f93c3c;
	border-left: 0;
	left:auto;
	right: -12px;
	border-right: 12px solid transparent;
}
.item__stock--product:before {
	border-top: 19px solid #f93c3c;
	border-left: 0;
	left:auto;
	right: -12px;
	border-bottom: 19px solid #f93c3c;
	border-right: 12px solid transparent;	
}
.product-main h1 {
	font-size: 20px;
	float: left;
	width: 80%;
	margin-bottom: 15px;
	margin-top: -2px;
	line-height: 25px;
}
.product-main {
	padding: 40px 0;
}
.product-main__in-stock {
	display: none;
	font-size: 12px;
	float: right;
	color:#fff;
	padding: 5px 17px;
	background-color: #5db057;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.spinner {
	position: relative;
}
.spinner input {
	padding: 6px 40px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 135px;
}
.spinner input:focus {
	outline: none;
}
.spinner {
	border:1px solid #f5f5f5;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.spinner a {
	position: absolute;
	left:0;
	top:0;
	width: 34px;
	display: block;
	text-align: center;
	line-height: 35px;
	color: #30363a;
	background-color: #f5f5f5;
	height: 100%;
}
.spinner a:focus {
	text-decoration: none;
}
.spinner a:hover {
	text-decoration: none;
}
.spin-up {
	left:auto !important;
	right: 0;
}
.item-type-wrap {
	float: left;
	width: 100%;
	padding-right: 29px;
}
.product-main-select {
	width: 260px;
}
.select-product-page .select2-selection--single .select2-selection__rendered {
	padding: 4px 30px 0 20px;
	font-size: 14px;
}
.select-product-page .select2-selection--single {
	height: 36px;
	background-color: #f5f5f5;
	border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.select-product-page .fa-angle-down {
	top:10px;
}
.item-type__title {
	margin-top: 20px;
	font-size: 14px;
	margin-bottom: 6px;
}
.item__3d-link {
	display: none;
	position: relative;
	margin-top: 25px;
	padding: 7px 20px 7px 70px;
	background-color: #f5f5f5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #30363a;
	overflow: hidden;
}
.item__3d-link:hover {
	text-decoration: none;
	color: #30363a;
}
.item__3d-link:before {
	content: '3D';
	width: 53px;
	position: absolute;
	left:0;
	top:0;
	height: 100%;
	display: block;
	text-align: center;
	background-color: #ededed;
    font-family: 'multicolore_regular', sans-serif;
    line-height: 38px;
    font-size: 18px;
}
.item__pay-wrap {
	float: left;
	width: 100%;
}
.item__color-wrap {
	float: left;
	display: none;
}
.item__price--mrgn {
	margin-left: 20px;
}
.item__color {
	font-size: 14px;
	display: inline-block;
	padding-right: 15px;
}
.item__all-color {
	text-decoration: underline;
	color: #00baff;
	display: inline-block;
}
.item__all-color:hover {
	color:#00ccff;
}
.item__center-wrap {
	margin-top: 20px;
}
.item__add-basket {
	display: inline-block;
	position: relative;
	margin-top: 10px;
	padding: 7px 20px 7px 70px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	overflow: hidden;	
}
.item__add-basket i {
	position: absolute;
	left:0;
	top:0;
	height: 100%;
	font-size: 18px;
	width: 54px;
	background-color: #f93c3c;
	display: block;
	text-align: center;
	line-height: 35px;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;	
}
.item__add-basket:focus {
	color:#fff;
	text-decoration: none;
	outline: none;
}
.item__add-basket:hover {
	color:#fff;
	text-decoration: none;
}
.item__add-basket:hover i {
	background-color: #ff4c4c;
}
.item__delivery {
	padding-left: 52px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
.item__delivery i {
	position: absolute;
	margin-top: -15px;
	left:0;
	top:50%;
	bottom: 0;
	color: #00baff;
	font-size: 30px;
}
.item__delivery-wrap {
	margin: 20px 0;
	background-color: #f5f5f5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.item__delivery p {
	margin: 0;
	font-size: 14px;
}
.item__line-title {
	padding-bottom: 20px;
	margin-top: 20px;
}
.product-other {
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}
.bx-wrapper .bx-viewport {
	box-shadow: none;
	border:none;
	left:0;
	background-color: transparent;
}
.catalog-all__slider li {
	width: 226px !important;
	margin-bottom: 0;
}
.pretext {
	font-size: 18px;
}
.bx-wrapper .bx-controls-direction a {
	width: 28px;
	height: 70px;
	background: none;
	background-color: #00baff;
	margin-top: -35px;
	text-indent: 0;
}
.bx-wrapper .bx-controls-direction a i {
	position: absolute;
	left:0;
	top:0;
	font-size: 40px;
	display: block;
	text-align: center;
	width: 100%;
	line-height: 66px;
	color:#fff;
}
.bx-wrapper .bx-controls-direction .fa-angle-left:before {
	margin-left: -2px;
}
.bx-wrapper .bx-controls-direction .fa-angle-right:before {
	margin-right: -2px;
}
.bx-wrapper .bx-prev {
	left:0;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.bx-wrapper .bx-next {
	right:0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.banner--dealer {
	height: auto !important;
	min-height: auto;
}
.banner--dealer .banner__vertical-align-wrap {
	height: auto !important;
	min-height: auto;	
}
.banner--dealer .banner__title {
	margin-top: 34px;
}
.banner-dealer__title {
	font-size: 44px;
	line-height: 40px;
}
.dealer-plus__list li {
	position: relative;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 21px;
	padding-left: 40px;
}
.dealer-plus__list li i {
	position: absolute;
	top:2px;
	left:0;
	color: #00baff;
	font-size: 18px;
}
.dealer-plus {
	padding-top: 30px;
	padding-bottom: 90px;
}
.dealer-form {
	padding-top: 40px;
	padding-bottom: 60px;
	background-color: #00baff;
}
.dealer-form p {
	color:#fff;
	font-size: 22px;
	text-align: center;
}
.dealer-form input:first-child {
	margin-top: 20px;
}
.dealer-form input {
	padding: 0 10px;
	height: 40px;
	margin-top: 40px;
	width: 100%;
	border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.dealer-form__btn {
	margin-top: 40px;
}
.about-company {
	padding-top: 40px;
	padding-bottom: 60px;
}
.about-company p {
	font-size: 16px;
}
.type-items {
	color:#fff;
	background-color: #30363a;
	padding-top: 40px;
	padding-bottom: 60px;
}
.type-item__img-wrap {
	width: 100%;
	height: 280px;
	text-align: center;
}
.type-item__img-wrap img {
	display: inline-block;
	text-align: center;
}
.type-items li {
	width: 50%;
	display: inline-block;
	margin-left: -2px;
}
.type-items p {
	margin-top: 0;
	font-size: 22px;
	padding: 0 10px;
	text-align: center;
	position: relative;
}
.type-items .line-bottom:after {
	left:50%;
	margin-left: -27px;
	bottom: -30px;
}
.type-items__list {
	padding-top: 40px;
	text-align: center;
}
.type-items__list li {
	margin-bottom: 30px;
}
.slogan p {
	font-size: 16px;
}
.slogan {
	padding: 40px 0;
	overflow: hidden;
}
.slogan__title {
	font-size: 36px !important;
	margin: 25px 0;
}
.slider-block__main li {
	float: left;
	width: 25%;
}
.slider-block__main a:hover {
	text-decoration: none;
}
.slider-block__main p {
	text-align: center;
}
.slider-block .bx-viewport {
	padding: 0;
}
.slider-block .bx-wrapper .bx-controls-direction a {
	top:40%;
}
.slider-block {
	margin-top: 60px;
}
.manufacturer-page h2 {
	font-size: 22px;
}
.work {
	padding: 40px 0;
	background-color: #ededed;
}
.work__table {
	display: table;
	width: 100%;
	margin: 0 auto;
	border-spacing:0 16px;
}
.work__row {
	display: table-row;
}
.work__cell-small {
	display: table-cell;
	padding: 10px 5px;
	background-color: #00baff;
	color:#fff;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.work__cell-big {
	display: table-cell;
	vertical-align: middle;
	padding: 15px;
	width: 100%;
	font-size: 16px;
	background-color: #fff;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.info-bottom {
	padding: 40px 0;
	background-color: #30363a;
	color:#fff;
}
.info-bottom__list li {
	padding-left: 130px;
	min-height: 120px;
	display: inline-block;
	margin-bottom: 40px;
	max-width: 380px;
	text-align: left;
	width: 100%;
	background: url(../images/icon-sprite2.png) no-repeat;
}
.info-bottom__list li p {
	margin-top: 0;
}
.info-bottom__list-icon1 {
	background-position: 0 -910px !important;
}
.info-bottom__list-icon2 {
	background-position: 0 -612px !important;
}
.info-bottom__list-icon3 {
	background-position: 0 -326px !important;
}
.info-bottom__list-icon4 {
	background-position: 0 -1228px !important;
}
.info-bottom__list-icon5 {
	background-position: 0 -1581px !important;
}
.info-bottom__list-icon6 {
	background-position: 0 0 !important;
}
.info-bottom-clear {
	width: 100% !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
	min-height: auto !important;
}
.info-bottom-clear {
	width: 100% !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
	min-height: auto !important;
}
.info-bottom__list {
	margin-top: 40px;
	text-align: center;
}
.phone-question {
	background-color: #00baff;
	color:#fff;
	text-align: center;
	padding: 30px 0 70px 0;
}
.phone-question__field {
	width: 100%;
	height: 40px;
	padding: 0 10px;
	border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #30363a;	
}
.phone-question__button {
	margin-top: 20px;
	padding: 9px 42px;
}
.phone-question-form-wrap {
	margin-top: 40px;
}
.phone-question p {
	font-size: 18px;
}
.phone-question__field-wrap {
	display: inline-block;
	position: relative;
	width: 100%;
}
.phone-question__field-wrap span.error-validate {
	position: absolute;
	bottom: -20px;
}
.phone-question__field-wrap input.error-validate {
	margin-top: 0;
}
.product-main__img-desc {
	font-size: 14px;
	color: #a7a7a7;
	display: none;
	margin: 25px 0;
}
.product-main__img-desc i {
	color: #414141;
	padding-right: 12px;
}
.item__delivery-wrap .col-xs-12 {
	background-color: #f5f5f5;
}
#modal__img-cont img {
	max-width: 100%;
	margin-top: 20px;
}
.product__slider-xs p {
	font-size: 18px;
}
.slider-action .bx-wrapper .bx-viewport {
	padding: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	width: 14px;
	height: 14px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background-color: #f5f5f5;
	position: relative;
}
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-link:after {
	content: '';
	position: absolute;
	left:3px;
	top:3px;
	width: 8px;
	height:8px;
	background-color: #f5f5f5;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;	
}
.bx-wrapper .bx-pager.bx-default-pager .active:after {
	content: '';
	position: absolute;
	left:3px;
	top:3px;
	width: 8px;
	height: 8px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;	
}
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-link:hover:after {
	background-color: #00baff;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: #f5f5f5;	
}
.bx-wrapper .bx-pager.bx-default-pager a:hover:after, .bx-wrapper .bx-pager.bx-default-pager a.active:after {
	background-color: #00baff;	
}
.action__desc {
	font-size: 16px;
}
.action__item {
	padding-bottom: 40px;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: -40px;
}
.infographics {
	text-align: center;
	padding: 60px 0;
	background-color: #f5f5f5;
}
.infographics__list li {
	position: relative;
	padding-top: 130px;
	padding-left: 20px;
	padding-right: 20px;
	width: 33.333333%;
	margin-left: -3px;
	display: inline-block;
	text-align: center;
	background: url(../images/infographics-sprite.png) no-repeat;
	margin-bottom: 20px;
	min-height: 206px;
}
.infographics__list li:after {
	content: '';
	left:-15px;
	top:40px;
	width: 26px;
	height: 26px;
	background: url(../images/infographics-sprite.png) no-repeat -49px 0;
	position: absolute;
}
.infographics__list li:first-child:after {
	width: 0;
	height: 0;
}
.infographics__icon1 {
	background-position: center -119px !important;
}
.infographics__icon2 {
	background-position: center -379px !important;
}
.infographics__icon3 {
	background-position: center -635px !important;
}
.infographics__icon4 {
	background-position: center -899px !important;
}
.infographics__icon5 {
	background-position: center -1170px !important;
}
.infographics__icon5:after {
	background-position: -50px -50px !important;
}
.img-inf p {
	font-size: 24px;
	text-align: center;
}
.img-inf {
	padding: 60px 0;
}
.img-inf__big-title {
	font-size: 40px;
	line-height: 36px;
}
.img-cont__desc-big p {
	font-size: 30px;
	text-align: left;
	margin: 0;
	margin-top: 20px;
}
.section-center {
	padding: 60px 0;
	background-color: #f5f5f5;
}
.section-center__product-title {
	padding-bottom: 20px;
}
.section-center__product-desc {
	font-size: 30px;
	line-height: 36px;
}
.section-center h2 {
	margin: 0;
	margin-bottom: 40px;
}
.img-inf__big-title--brand {
	margin-bottom: 40px;
}
.branding {
	padding: 60px 0;
}
.branding p {
	font-size: 24px;
	text-align: center;
}
.plus2 {
	background-color: #30363a;
	padding: 60px 0;
	color:#fff;
}
.plus2__wrap {
	padding-top: 120px;
	background: url(../images/plus2-sprite.png) no-repeat;
}
.plus2 p {
	font-size: 18px;
}
.plus2 h2 {
	margin-top: 0;
	margin-bottom: 40px;
}
.plus2__wrap-icon1 {
	background-position: center 0px !important;
}
.plus2__wrap-icon2 {
	background-position: center 0px !important;
}
.plus2__wrap-icon3 {
	background-position: center 0px !important;
}
.plus2__wrap-icon4 {
	background-position: center 0px !important;
}
.desc p {
	font-size: 18px;
}
.basket-table {
	position: relative;
}
.basket-table:before {
	content: '';
	position: absolute;
	left:0;
	top:0;
	display: none;
	width: 100%;
	height: 62px;
	background-color: #30363a;
}
.basket-table:after {
	content: '';
	display: none;
	position: absolute;
	left:0;
	z-index: -1;
	bottom:0;
	width: 100%;
	height: 65px;
	background-color: #30363a;
}
.basket-table table th {
	color: #fff;
	font-weight: normal;
	font-size: 16px !important;
}
.basket-table table td {
	font-size: 20px;
}
.basket-table table th, .basket-table table td {
	width: 100%;
	white-space: nowrap;
	text-align: left;
	padding: 20px 20px 20px 0;
}
.basket-table table tr {
	border-bottom: 1px solid #f5f5f5;
}
.basket-table table tr:last-child td {
	color:#fff;
	font-size: 18px;
}
.basket-table table tr:last-child {
	border-bottom: none;
}
.basket-table table tr:nth-last-child(2) {
	border-bottom: 0;
}
.basket-table table tr:last-child td {
	text-align: left;
}
.table__total-title {
	text-align: right !important;
	color: #909090 !important;	
}
.basket__item-name {
	white-space: normal !important;
	font-size: 16px !important;
}
.table__img-cont {
	width: 50px !important;
}
.table__img-cont-wrap {
	width: 50px !important;
}
.basket-table .fa-times {
	cursor: pointer;
	font-size: 18px;
	color: #f3f3f3;
}
.basket-table .fa-times:hover {
	color: #30363a;
}
.basket-table table .spinner {
	font-size: 16px;
}
.basket-table table .filter__select {
	font-size: 16px;
}
.basket-bottom {
	position: relative;
	padding: 0;
}
.basket-bottom:after {
	content: '';
	display: none;
	position: absolute;
	top:0;
	right: 0;
	width: 50%;
	z-index: -1;
	height: 100%;
	background-color: #f5f5f5;
}
.basket-bottom__left-title {
	font-size: 20px;
	display: none;
	padding-bottom: 20px;
	position: relative;
}
.basket-bottom__left-title:after {
	width: 100%;
}
.red {
	color:red;
}
.discount__left-block {
	display: inline-block;
	margin-right: 40px;
}
.discount__right-block {
	display: inline-block;
}
.discount__title {
	font-size: 18px;
	color: #909090;
}
.discount__value {
	display: inline-block;
	margin-left: 10px;
	font-size: 22px;
	color: #30363a;
}
.basket-bottom__discount {
	display: inline-block;
	margin-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cfcfcf;
}
.discount__desc {
	padding-left: 20px;
	width: 100%;
	font-size: 18px;
	display: none;
	position: relative;
}
.discount__desc:before {
	position: absolute;
	content: '*';
	left:0;
	top:0;
}
.basket-bottom__btn {
	padding: 10px 0;
	display: none;
}
.price-final {
	margin-top: 0;
}
.price-final__title {
	padding: 15px 0;
	font-size: 20px;
	color: #909090;
	display: inline-block;
	margin-right: 50px;
}
.price-final__price {
	font-size: 24px;
}
.basket-bottom-col-right h2 {
	margin-top: 0;
}
.basket-bottom-col-left {
	padding-right: 20px;
}
.basket-bottom__form-cont input, .basket-bottom__form-cont textarea {
	width: 100%;
	padding: 0 10px;
	border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 18px;
}
.basket-bottom__form-cont {
	width: 100%;
}
.basket-bottom__form-cont input {
	height: 40px;
	background-color: #fff;
}
.basket-bottom__form-cont textarea {
	height: 160px;
	resize: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
.basket-bottom__form-btn {
	margin-top: 10px;
}
/*end content*/

/*footer*/
.footer-top {
	position: relative;
	background-color: #f5f5f5;
	padding: 50px 0 40px;
}
.footer-top-contact {
	padding-bottom: 0;	
}
.footer-top-contact .banner__submit {
	display: none;
}
.phone__footer {
	font-size: 37px;
	margin-bottom: 15px;
}
.footer__email {
	color: #2a2d2f;
	font-size: 18px;
}
.footer address {
	font-style: normal;
}
.footer address p {
	font-size: 18px;
	color: #2a2d2f;
	margin: 30px 0;
}
.footer__nav {
	margin:40px 0;
}
.footer__nav a {
	color: #2a2d2f;
}
.footer__nav li {
	float: left;
	margin-right: 30px;
}
.footer__nav li:last-child {
	margin-right: 0;
}
.footer__bottom-info {
	color: darkgrey;
	font-size: 10px;
}
.footer-bottom {
	background-color: #2a2d2f;
	position: relative;
}
.footer__scroll-top-wrap {
	position: absolute;
	top:36px;
	display: none;
	z-index: 9;
	left:50%;
	margin-left: -32px;
	text-align: center;
}
#footer__scroll-top {
	display: inline-block;
	width: 46px;
	background-color: #00baff;
	height: 46px;
	cursor: pointer;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	color:#fff;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
#footer__scroll-top:hover {
	background-color: #00ccff;
}
#footer__scroll-top i {
	font-size: 30px;
	margin-top: 6px;
}
.dev-main-wrapper {
	text-align: right;
}
.footer__copyright {
	color:#fff;
	margin: 0;
}
.footer__map-site {
	font-size: 16px;
	color:#bbb;
}
.footer__map-site:hover {
	color:#bbb;
}
.footer__developers-by {
	position: relative;
	margin-top: 0;
	color: #d7d7d7;
	margin-left: 60px;
	display: inline-block;
	font-size: 14px;
}
.footer__developers-by strong {
	font-size: 16px;
	font-weight: normal;
}
.footer__developers-by:hover {
	color: #d7d7d7;
	text-decoration: none;
}
.footer__developers-by:before {
	content: '';
	left:-50px;
	top:0;
	background: url(../images/studio-logo.png) no-repeat;
	width: 35px;
	height: 43px;
	position: absolute;
}
.footer-bottom {
	padding: 30px 0;
}
#bg-sm {
	width: 100%;
	position: absolute;
	display: none;
	bottom: 0;
	background-color: #30363a;
}
/* end footer */

/* modals */

.modal-content {
	padding:10px 20px;
	background-color:#f5f5f5;
}
.modal-header .close {
	float: right;
}
.modal-title {
	float: left;
	font-size: 18px;
}
.modal-header {
	padding:0;
	border:none;
}
.modal-header .close {
	border:none;
	background: none;
	font-size: 18px;
	margin-top: 8px;
	margin-right: -5px;
}
.modal-body {
	padding:0;
    font-family: 'exo_2regular', sans-serif;
}
.modal-header p {
	font-size: 14px;
}
.modal-body {
	padding-top: 20px;
}
.modal-body label {
	display: block;
	margin-bottom: 10px;
}
.modal-body input {
	width: 100%;
	padding: 0 10px;
	border:none;
	background-color:#fff;
	height: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: 67px;
}
.modal-body .btn3 {
	padding:9px 50px;
	margin-top: 31px;
}
.modal-backdrop {
   background-color: #000;
   opacity:0.8 !important;
}
.modal__name-wrap {
	margin-bottom: 15px;
}
::-webkit-input-placeholder {
	color: #30363a;
	font-size: 16px;
	font-family: 'playregular', sans-serif;
}
::-moz-placeholder          {
	color: #30363a;
	font-size: 16px;
	font-family: 'playregular', sans-serif;
	}
:-moz-placeholder           {
	color: #30363a;
	font-size: 16px;
	font-family: 'playregular', sans-serif;
	}
:-ms-input-placeholder      {
	color: #30363a;
	font-size: 16px;
	font-family: 'playregular', sans-serif;
}
#modal__ask .modal-body input {
	width: 100%;
	color: #30363a;
	margin-top: 36px;
}
#modal__ask .modal-body input:first-child {
	margin-top: 0;
}
#modal__ask textarea {
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	border:none;
	padding: 10px;
	height: 126px;
	resize: none;
	margin-top: 36px;
}
.error-validate {
	margin-top: 5px;
	font-size: 14px;
	color:#f93c3c;
	display: block;
	text-align: left;
}
input.error-validate {
	font-size: 16px;
}
/* basket modal*/


#modal-basket .modal-dialog {
	width: 100%;
	background-color: transparent;
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 0;
	margin: 0 !important;
}
#modal-basket .modal-content {
	padding: 0;
	border:none;
}
#modal-basket .modal-basket__wrap-left {
	width: 100%;
	float: none;
	text-align: center;
	background-color: #fff;
	padding: 30px 10px;
}
.wrapper-right-col {
	text-align: left;
	display: inline-block;
}
#modal-basket .modal-basket__wrap-right {
	width: 100%;
	float: none;
	text-align: center;
	background-color: #f5f5f5;
	padding: 30px 10px;
}
.modal-basket__wrap2 {
	position: relative;
	z-index: 99;
	text-align: left;
	display: inline-block;
}
#modal-basket .modal-title {
	font-size: 18px;
	float: none;
}
.modal-basket__img-cont {
	width: 40%;
	float: left;
	padding-right: 15px;
}
.modal-basket__desc-right-wrap {
	float: right;
	width: 60%;
}
.modal-basket__product-title {
	font-size: 18px;
	margin-top: -4px;
	line-height: 22px;
	margin-bottom: 15px;
}
.modal-basket__desc-wrap {
	margin-top: 40px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ededed;
}
.modal-bakset__price-title {
	font-size: 14px;
}
.modal-bakset__price {
	font-size: 22px;
}
.modal-bakset__rubl {
	font-size: 18px;
}
.modal-basket__basket {
	text-align: left;
	font-size: 16px;
	display: none;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 20px;
}
.modal-basket__basket th {
	font-size: 14px;
	color:#9d9d9d;
	padding: 0 16px;
	padding-left: 0;
}
.modal-basket__basket td {
	padding: 10px 16px;
	padding-left: 0;
}
.modal-basket__left-btn {
	margin-top: 25px !important;
}
.modal-basket__button-wrap a {
	padding: 9px 42px;
	margin-top: 6px;
	width: 250px;
}
.modal-basket__button-wrap {
	text-align: center;
}
.wrap-right__img-cont {
	width: 50px;
}
.wrap-right__table p {
	width: auto;
	padding-left: 10px;
	margin: 0;
	font-size: 14px;
}
.wrap-right__price {
	font-size: 20px;
	width: 99px;
	display: none;
}
.wrap-right__table {
	margin-top: 27px;
	width: 100%;
	margin-left: -8px;
	margin-right: -8px;
}
.wrap-right__shopping a {
	display: inline-block;
}
.wrap-right__shopping a:hover {
	text-decoration: none;
}
.wrap-right__shopping i {
	font-size: 18px;
	color:#fff;
	display:block;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #00baff;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.wrap-right__table td {
	padding: 8px;
}
.wrap-right__table tr:hover {
	background-color: #fff;
}
.wrap-right__table tr td:first-child {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.wrap-right__table tr td:last-child {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-header .close {
	position: absolute;
	right: 18px;
	top:7px;
}
.wrap-right__table tr {
	border-bottom: 1px solid #ededed;
}
.wrap-right__table tr:last-child {
	border:none;
}
/*end basket modal*/
/*img modal*/
#modal__img-cont {
	text-align: center;
}
#modal__img-cont .modal-dialog {
	width: auto !important;
	display: inline-block;
}
/*end img modal */
/* end modals */

/*mobile menu*/
.slicknav_menu {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index: 999;
	background-color: #2a2d2f;
	padding: 0;
	margin: 0;
}
.slicknav_btn {
	display: none;
}
.slicknav_nav {
	margin-top: 60px;
	overflow: visible;
	position: relative;
	background-color: transparent;
	width: 100%;
	vertical-align: middle;
}
.max-height {
	height: 100%;
}
.slicknav_nav a {
	margin: 0 !important;
	background-color: transparent;
	font-size: 18px !important;
}
.slicknav_nav ul {
	margin: 0;
}
.slicknav_nav .header-nav-list__level2 {
	width: 100%;
	left: 100%;
	top:0;
	background-color: #30363a;
}
.slicknav_nav .header-nav-list__level2 a:hover {
	color: #00baff;
}
.slicknav_nav .fa-angle-down {
	display: none;
}
.slicknav_nav a:hover {
	background-color: #30363a;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color:#fff;
}
.slicknav_nav .slicknav_row:hover {
	background-color: #30363a;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;	
}
.slicknav_nav .slicknav_row, .slicknav_nav a {
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.slicknav_nav .slicknav_arrow {
	float: right;
	position: relative;
}
.slicknav_nav .header-nav-list__level2 .fa {
	display: none;
}
.symbol-blue {
	color: #00baff;
}
.slicknav_nav .header-nav-list__level2 .slicknav_arrow {
	display: none;
}
.slicknav_nav .header-nav-list__level2 ul {
	display: none !important;
}
.slicknav_nav a:focus {
	outline: none;
}
.slicknav_nav .fa-angle-right {
	top:0;
	right: 0;
}
#close-mobile-menu {
	color: #c1c1c1;
	font-size: 28px;
	display: none;
	cursor: pointer;
	position: absolute;
	left:15px;
	top:20px;
}
.close-active {
	display: block !important;
}
.slicknav_open {
	background-color: #30363a;
}
.slicknav_nav .slicknav_row, .slicknav_nav a {
	margin: 0;
}
.slicknav_nav .fa-angle-right {
	display: none;
}
/*end mobile menu*/

/*category mobile menu*/

#modal__category {
	background-color: #f5f5f5;
}
#modal__category .modal-content {
	padding: 0;
	border:none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
}
#modal__category .modal-dialog {
	width: 100%;
	margin: 0;
}
.modal__title-main {
	font-size: 22px;
	padding: 20px;
}
#modal__category .catalog-list__left-block li i {
	right: 20px;
}
.catalog-list__item--action > div {
	width: 50%;
	float: left;
	position: relative;
	padding: 10px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	-webkit-transition: all 0.1s ease-out 0s;
	-moz-transition: all 0.1s ease-out 0s;
	-o-transition: all 0.1s ease-out 0s;
	transition: all 0.1s ease-out 0s;
}
.catalog-list__item--action > div:hover {
	background-color: #f5f5f5;
}
.action-page h1 {
	font-size: 22px;
}
.action-page h2 {
	font-size: 20px;
}
.img-inf__big-title {
	font-size: 32px;
} 
.infographics__list li {
	width: 100%;
	margin-left: 0;
}
.infographics__list li:after {
	top:-48px;
	left:50%;
	margin-left: -13px;
}
.infographics__list li {
	padding-top: 110px;
}
.infographics {
	padding-top: 30px;
	padding-bottom: 0;
}
.img-inf__big-title {
	font-size: 20px;
}
.manuf2-page h2 {
	font-size: 18px;
}
.img-inf p {
	font-size: 16px
}
.section-center__product-desc {
	font-size: 18px;
}
.branding p {
	font-size: 16px;
}
.plus2__wrap {
	text-align: center;
}
.plus2__wrap {
	margin-bottom: 50px;
}
.container__xs-form-class {
	padding: 40px 0;
	background: #f5f5f5;
}
/*end category mobile menu*/

/*media*/

@media (min-width:768px) {
	.container__xs-form-class {
		padding: 0;
	}
	.basket-bottom-col-right {
		padding-left: 20px;
	}
	.price-final {
		margin-top: 40px;
	}
	.price-final__title {
		padding: 0;
		font-size: 33px;
	}
	.price-final__price {
		font-size: 40px;
	}
	.basket-bottom__btn {
		display: block;
	}
	.discount__desc {
		display: block;
	}
	.basket-bottom {
		padding: 30px 0;
	}
	.basket-bottom__left-title {
		display: inline-block;
	}
	.basket-bottom:after {
		display: block;
	}
	.basket-table:after {
		display: block;
	}
	.basket-table:before {
		display: block;
	}
	.banner--dealer .banner__vertical-align-wrap {
		min-height: 250px;	
	}
	.plus2__wrap {
		margin-bottom: 0;
	}
	.plus2__wrap {
		text-align: left;
	}
	.branding p {
		font-size: 24px;
	}
	.section-center__product-desc {
		font-size: 30px;
	}
	.img-inf p {
		font-size: 24px;
	}
	.manuf2-page h2 {
		font-size: 22px;
	}
	.img-inf__big-title {
		font-size: 32px;
	}
	.infographics {
		padding:60px 0;
	}
	.infographics__list li {
		padding-top: 130px;
	}
	.infographics__list li:after { 
		margin: 0;
		left:-15px;
		top:40px;
	}
	.infographics__list li {
		width: 33.333333%;
		margin-left: -3px;
	}
	.action-page h1 {
		font-size: 30px;
	}
	.action-page h2 {
		font-size: 22px;
	}
	.action__desc {
		font-size: 18px;
	}
	.catalog-list__item--action > div {
		padding: 17px;
	}
	.slider-block .bx-wrapper .bx-controls-direction a {
		top:30%;
	}
	.item__button {
		width: 100%;
		font-size: 16px;
		padding: 7px 25px;
	}
	.item__old-price {
		font-size: 18px;
	}
	.item__rubl {
		font-size: 18px;
	}
	.item__price {
		font-size: 33px;
	}
	.catalog-list__item li {
		width: 33.333333%;
		padding: 17px;
	}
	#modal__img-cont img  {
		margin-top: -30px;
	}
	.item__pay-wrap {
		width: 61%;
	}
	.modal-basket__desc-right-wrap {
		width: 326px;
	}
	.modal-basket__img-cont {
		width: 130px;
		padding-right: 0;
		margin-right: 15px;
	}
	#modal-basket .modal-title {
		font-size: 22px;
	}
	.product-main h1 {
		font-size: 24px;
	}
	.item__delivery-wrap .col-xs-12 {
		background-color: transparent;
	}
	.item__delivery {
		margin-left: 40px;
	}
	.item__line-title {
		margin-top: 0;
	}
	.item__delivery-wrap {
		margin: 40px 0;
	}
	.item-type__title {
		margin-top: 0;
	}
	.item-type-wrap {
		width: auto;
	}
	.type-items__list li {
		margin-bottom: 0;
	}
	.type-items p {
		margin-top: 22px;
	}
	.phone-question__field-wrap {
		width: auto;
	}
	.phone-question__field {
		width: 430px;
	}
	.phone-question__button {
		margin-top: 0;
		margin-left: 20px;
	}
	.info-bottom__list {
		text-align: left;
	}
	.info-bottom__list li {
		display: block;
		float: left;
		max-width: auto;
		padding-right: 30px;
	}
	.info-bottom__list li p {
		margin-top: 16px;
	}
	.work__cell-big {
		font-size: 20px;
	}
	.work__cell-small {
		font-size: 30px;
		padding: 15px 30px;
	}
	.product__catalog-list-title {
		padding-right: 25px;
		font-size: 16px;
	}
	.product__catalog-list a {
		padding-right: 0;
	}
	.catalog-all-list__list li {
		width: 25%;
		margin-bottom: 0;
	}
	.catalog-all-list__list li:nth-last-child(n+5) {
		margin-bottom: 20px;
	}
	.product__catalog-list li {
		width: 33.3333333%;
	}
	.modal-title {
		font-size: 30px;
	}
	.modal-body > div {
		float: left;
	}
	.modal-body input {
		width: 312px;
	}
	.modal-content {
		padding:70px 80px;
	}
	.slicknav_nav .fa-angle-right {
		display: block;
	}
	
	.header-bottom-call {
		display: inline-block;
	}
	.header-bottom-right-wrap {
		margin-top: 30px;
	}
	.header__basket-text {
		display: inline;
	}
	.header__basket {
		float: none;
		margin-left: -76px;
		padding: 17px 50px;
		height: auto;
	}
	.basket__value {
		display: block;
	}
	.header-bottom__link {	
		padding: 9px 13px 12px 59px;
		font-size: 14px;
	}
	.header-bottom__link i {
		display: block;
	}
	.header-bottom__link-wrap-link1 {
		margin-left: 64px;
		margin-right: 10px;
	}
	.header-bottom__link-wrap {
		display: block;
		float: left;
		vertical-align: baseline;
	}
	#menu-container {
		text-align: left;
	}
	.banner__inline-block-wrap p {
		font-size: 24px;
	}
	.banner__inline-block-wrap {
		text-align: left;
	}
	.banner-form__wrap {
		display: table;
	}
	#bg-sm {
		display: block;
	}
	.banner {
		padding-bottom: 0;
		background-size: auto;
	}
	.catalog__product-list li {
		width: 16%;
        margin-left: 7px;
	}
	.catalog__right-col-wrap ul li {
		width: 50%;
	}
	.plus__list li {
		width: 33%;
		padding-right: 30px;
		text-align: left;
	}
	.plus__icon1 {
		background-position: 0 0 !important;
	}
	.plus__icon2 {
		background-position: 0 -322px !important;
	}
	.plus__icon3 {
		background-position: 0 -670px !important;
	}
	.plus__icon4 {
		background-position: 0 -1079px !important;
	}
	.clients__list li img {
		max-width: auto;
	}
	.clients__list {
		margin-left: -35px;
		margin-right: -35px;
	}
	.clients__list li {
		padding: 0;
		line-height: 120px;
	}
	.slicknav_nav {
		width: 50%;
	}
	.catalog__3d-submit {
		margin-left: 10px;
		margin-top: 0;
	}
	.phone__footer {
		font-size: 41px;
	}
	#header__form-search input {
		position: static;
	}
	.footer__scroll-top-wrap {
		display: inline-block;
	}
	.dev-wrapper {
		display: block;
	}
	.dev-main-wrapper {
		text-align: left;
	}
	.footer__developers-by:before {
		top:0;
	}
	.news__main img {
		float: left;
		margin-right: 45px;
	}
	.banner__delaer--wrap {
		width: auto;
	}
	.type-items li {
		width: 20%;
	}
	.info-bottom__list li {
		width: 50%;
	}
	.type-items li {
		width: 20%;
		float: left;
		margin-left: 0;
		display: block;
	}
	.type-items__list {
		text-align: left;
	}
	.about-company p {
		font-size: 18px;
	}
	#modal-basket .modal-basket__wrap-left {
		padding: 40px 50px;
	}
	#modal-basket .modal-basket__wrap-right {
		padding: 40px 50px;
	}
	.modal-basket__basket {
		display: block;
	}
	.modal-basket__left-btn {
		float: left;
		margin-top: 0 !important;
	}
	.modal-basket__left-btn {
		float: right;
	}
	.modal-basket__button-wrap a {
		width: auto;
		margin-top: 0;
	}
	.wrap-right__price {
		display: block;
	}
	.wrap-right__table p {
		width: 220px;
		font-size: 16px;
	}
	.modal-header {
		margin-top: 0;
	}
	.catalog-list__item p {
		font-size: 18px;
	}
	.item__button i {
		font-size: 22px;
		width: 60px;
	}
	.catalog-list__item--action > div {
		margin-right: 0;
	}
	.catalog-list__item--action > div:nth-of-type(3n) {
		margin-right: 0;
	}
	.catalog-list__item--action > div {
		width: 239px;
	}
	.infographics__list li {
		vertical-align: top;
	}
	.flex-block {
		display: flex;
		align-items: center;
	}
	.flex-block p {
		width: 560px;
		text-align: left;
		margin-left: 20px;
	}
	.flex-block {
		margin-bottom: 20px;
	}
	.img-cont__desc-big p {
		font-size: 24px;
	}
	.section-center__product-desc {
		font-size: 24px;
	}
	.section-center__product-title {
		padding-right: 0;
	}
	.plus2__wrap-icon1 {
		background-position: 0 0 !important;
	}
	.plus2__wrap-icon2 {
		background-position: 0 -322px !important;
	}
	.plus2__wrap-icon3 {
		background-position: 0 -699px !important;
	}
	.plus2__wrap-icon4 {
		background-position: 0 -1102px !important;
	}
	.banner--dealer {
		min-height: 250px;
	}
}
@media (min-width: 992px) {
	.basket-bottom__form-cont {
		width: 430px;
	} 
	.plus2 p {
		font-size: 16px;
	}
	.section-center__product-title {
		padding-right: 210px;
	}
	.flex-block p {
		text-align: center;
		margin-left: 0;
		font-size: 18px;
		width: auto;
	}
	.section-center__product-desc {
		font-size: 26px;
	}
	.img-cont__desc-big p {
		font-size: 30px;
	}
	.flex-block {
		margin-bottom: 0;
	}
	.flex-block .img-inf p {
		width: auto;
		margin-left: 0;
		text-align: center;
	}
	.flex-block {
		display: block;
	}
	.img-inf__big-title {
		font-size: 40px;
	} 
	.infographics__list li {
		margin-bottom: 0;
	}
	.catalog-list__item {
		margin-left: -15px;
	}
	#category-sm-cont {
		display: none;
	}
	.product-main__img-desc {
		display: block;
	}
	.item__3d-link {
		display: inline-block;
	}
	.item__color-wrap {
		display: inline-block;
	}
	.phone-question__desc-wrap {
		margin-left: -45px;
		margin-right: -45px;
	}
	.footer-top-contact .banner__submit {
		display: inline-block;
	}
	.footer-top-contact {
		padding-bottom: 40px;	
	}
	#sm-modal {
		display: none;
	}
	#map {
		margin-top: 0;
		position: absolute;
		right: 0;
		top:0;
		width: 50%;
		height: 100%;
	}
	.modal-lg {
		width: 1100px;
	}
	#modal__ask .modal-lg {
		width: 600px;
	}
	.modal-lg {
		width: 600px;
	}
	.header-nav-list {
		display: block;
	}
	.header-bottom-right-wrap {
		width: auto;
		margin-top: 7px;
	}
	.header-bottom-call {
		margin-top: 0;
	}
	.header-bottom__logo {
		margin-bottom: 0;
	}
	.header-bottom__link-wrap {
		margin-top: 20px;
		display: inline-block;
		float: none;
	}
	.header-bottom__link {
		height: 66px;
	}
	.btn2 {
		margin-left: -42px;
	}
	#mobile-menu {
		display: none;
	}
	.header-bottom__link-wrap-link1 {
		margin-left: 14px;
		margin-right: 0;
	}
	.header-bottom__link {
		border-color: #fff;
	}
	.banner__vertical-align-wrap {
		height: 400px;
	}
	.banner__inline-block-wrap p  {
		font-size: 34px;
		margin-top: 0;
	}
	.banner__submit {
		margin-top: 10px;
	}
	.banner__form {
		padding: 35px;
	}
	.banner {
		height: 400px;
	}
	.banner-form__wrap {
		height: 400px;
		margin-top: 0;
	}
	.bannder-form-input-wrap {
		width: 100%;
		display: block;
		margin-right: 0;
		margin-bottom: 24px;
	}
	.catalog:before {
		content: '';
		position: absolute;
		left:0;
		z-index: -1;
		top:0;
		height: 100%;
		background-color: #f5f5f5;
		width: 50%;
	}
	.catalog:after {
		content: '';
		position: absolute;
		right:0;
		z-index: -1;
		top:0;
		height: 100%;
		background-color: #ededed;
		width: 50%;
	}
	#sm-container {
		background-color: transparent;
		margin-top: 0;
		padding-bottom: 0;
	}
	.catalog {
		background-color: #f5f5f5;
		padding-bottom: 60px;
	}
	.catalog__right-col-wrap ul li {
		width: 100%;
		float: none;
	}
	.plus__list li {
		width: 33%;
		margin-top: 0;
	}

    
	.plus__list li:after {
		content: '';
		position: absolute;
		width: 53px;
		height: 3px;
		top:280px;
		left:0;
		background-color: #00baff;
	}
	.plus {
		padding-bottom: 129px;
	}
	.modal__name-wrap {
		margin-bottom: 0;
	}
	.product__catalog-list li {
		width: 16.66666666666667%;
	}
	.dealer-form-wrap {
		margin-left: -35px;
		margin-right: -35px;
	}
	.product-main__in-stock {
		display: block;
	}
	.modal-basket__wrap2 {
		display: block;
	}
	#modal-basket .modal-basket__wrap-left {
		text-align: left;
	}
	.wrapper-right-col {
		display: block;
	}
	.wrap-right__price {
		width: auto;
	}
	.catalog-list-page h1 {
		font-size: 30px;
	}
	.filter-top p {
		margin-top: 43px;
	}
	#left-category {
		margin-bottom: 50px;
	}
	.catalog-list__item--action > div {
		margin-right: 110px;
	}
	.catalog-list__item--action > div:nth-of-type(3n) {
		margin-right: 0;
	}
	.catalog-list__item--action {
		padding-left: 17px;
	}
	.infographics__list li {
		width: 33%;
		float: left;
	}
	.infographics__list p {
		font-size: 14px;
	}
	.basket-table table tr:last-child td {
		text-align: left;
	}
}
@media (min-width:1200px) {
	.discount__desc {
		width: 520px;
	}
	.plus2 p {
		font-size: 18px;
	}
	#modal-basket .modal-dialog {
		border-radius: 10px;
	}
	#modal-basket .modal-content {
		border:1px solid rgba(0, 0, 0, 0.2);
	}
	#modal-basket .modal-dialog {
		margin: 30px auto !important;
	}
	.modal-basket__wrap-left:after {
		content: '';
		width: 50%;
		height: 100%;
		background-color: #fff;
		top:0;
		left:0;
		position: absolute;
	}
	#modal-basket .modal-dialog {
		width: 1150px;
	}
	#modal-basket .modal-basket__wrap-right {
		float: right;
		width: 50%;
	}
	#modal-basket .modal-basket__wrap-left {
		width: 50%;
		float: left;
	}
	.slider-block .bx-wrapper .bx-controls-direction a {
		top:37%;
	}
	.slogan__title {
		font-size: 40px !important;
	}
	.manufacturer-page h2 {
		font-size: 30px;
	}
	.info-bottom__list li {
		width: 33.3333%;
	}
	.work__table {
		width: 1000px;
	}
	.news__main-wrap {
		padding-right: 35px;
	}
	.other-news {
		display: block;
	}
	.header__top-desc {
		display: block;
	}
	.header-bottom-city {
		color: #30363a;
	}
	.header-bottom-city a {
		color: #30363a;
	}
	.header-nav-list a {
		padding: 19px 15px;
	}
	.header-nav-list__dropdown-menu a {
		padding-right: 45px;
	}
	.btn2 {
		padding: 17px 70px;
		padding-bottom: 18px;
		margin-left: 0;
	}
	.basket__value {
		padding: 17px 14px;
	}
	.header-nav-list__dropdown-menu i {
		right: 17px;
	}
	.btn2 i {
		left: 15px;
	}
	.header-bottom__link-wrap-link1 {
		margin-left: 34px;
	}
	.header-bottom__link {
		padding: 9px 30px 12px 70px;
	}
	.header-bottom-right-wrap {
		margin-left: 50px;
	}
	.header-bottom-call {
		margin-top: 30px;
	}
	.header-bottom-right-wrap {
		text-align: left;
	}
	.header-bottom-right-wrap {
		margin-top:23px;
	}
	.catalog__submit-wrap {
		text-align: left;
	}
	.catalog__3d-submit {
		margin-left: 50px;
	}
	.catalog__img-title {
		padding-left: 23px;	
		padding-right: 23px;
	}
	.clients__list li {
		width: 14.2%;
	}
	.footer__developers-by {
		margin-top: 20px;
	}
	.modal-lg {
		width: 1100px;
	}
	.header-nav-list__level3 {
		left: 462px;
	}
	.header-nav-list__level2 {
		width: 462px;
	}
	.header-bottom__link i {
		left:20px;
	}
	.slogan p {
		font-size: 18px;
	}
	.product__in-stock {
		display: block !important;
	}
	.catalog-list__item--action > div {
		margin-right: 58px;
	}
	.catalog-list__item--action > div:nth-of-type(3n) {
		margin-right: 58px;
	}
	.catalog-list__item--action > div:nth-of-type(4n) {
		margin-right: 0;
	}
}

@media (min-width:1300px) {
    .container {
        width: 1240px !important;
    }
	.header-bottom-right-wrap {
		margin-left: -35px;
	}
	.header-nav-list a {
		padding: 19px 20px;
	}
	.header-nav-list__dropdown-menu a {
		padding-right: 50px;
	}
	.item-type-wrap {
		padding-right: 44px;
	}
	.catalog-list__item li {
		width: 25%;
	}
	.bx-wrapper .bx-viewport {
		padding: 0 15px;
	}
	.catalog-list__item--action > div:nth-of-type(3n) {
		margin-right: 4px;
	}
	.catalog-list__item--action > div:nth-of-type(5n) {
		margin-right: 0;
	}
	.catalog-list__item--action > div {
		margin-right: 4px;
	}
}

