<!-- footer block -->
    <footer class="footer" role="contentinfo">
    	<div class="footer-top">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-sm-8 col-md-5">
	    				<div class="phone phone__footer">+7(499)110-19-36<br>+7(473)239-22-63</div>
	    				<a class="footer__email" href="">info@pkmags.ru</a>
	    				<address>
	    					<p>г.Москва набережная Тараса Шевченко, 23а офис 610
							г.Воронеж, ул. Еремеева 22, офис 205</p>
	    				</address>
	    				<a href="contacts" class="btn1 bg-color-blue"><i class="fa fa-map-marker"></i>посмотреть на карте</a>
	    			</div>
	    			<div class="hidden-xs hidden-sm col-sm-offset-1 col-sm-6">
	    				<a class="footer__logo" href="/">
	    					<img src="/sites/pk-mags/pk-mags/images/logo-footer.png" alt="">
	    				</a>
	    				<ul class="footer__nav clearfix">
	    					<li><a href="all-news">полезные материалы </a></li>
	    					<li><a href="news">новости</a></li>
	    					<li><a href="#" data-toggle="modal" data-target="#modal__download-price">прайс-заказ</a></li>
	    					<li><a href="delivery">доставка и оплата</a></li>
	    				</ul>
	    				<p class="footer__bottom-info">Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджерам отдела клиентского обслуживания с помощью специальной формы связи или по телефону: 8(495)743-35-36</p>
	    			</div>
	    		</div>
	    	</div>    		
    	</div>
    	<div class="footer-bottom">
    		<div class="footer__scroll-top-wrap">
    			<span id="footer__scroll-top"><i class="fa fa-angle-up"></i></span>
    		</div>
    		<div class="container">
    			<div class="row">
    				<div class="col-xs-7 col-sm-6 col-lg-5 col-lg-4">
    					<p class="footer__copyright">&copy; PKMAGS, 2015.  Все права защищены.</p>
    					<a class="footer__map-site" href="#">карта сайта</a>  					
    				</div>
    				<div class="col-xs-5 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4 col-lg-offset-5 col-lg-3">
    					<div class="dev-main-wrapper">
							<a class="footer__developers-by" href="#"><span class="dev-wrapper">Создание и продвижение<br><strong>СТУДИЯ БРАТЬЕВ ТЫРНОВЫХ</strong></span></a>
						</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </footer>
    <!-- end footer block -->
<!-- Styles -->
    <link href="/sites/pk-mags/pk-mags/css/fonts.css" rel="stylesheet">
    <link href="/sites/pk-mags/pk-mags/css/font-awesome.css" rel="stylesheet">
    <link href="/sites/pk-mags/pk-mags/css/slicknav.min.css" rel="stylesheet">
    <link href="/sites/pk-mags/pk-mags/css/select2.min.css" rel="stylesheet">
    <link href="/sites/pk-mags/pk-mags/css/jquery.bxslider.css" rel="stylesheet">
    <link href="/sites/pk-mags/pk-mags/css/main_styles.css" rel="stylesheet">
    <link href="/sites/pk-mags/pk-mags/css/bootstrap.min.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="/sites/pk-mags/pk-mags/js/jquery-2.1.4.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/bootstrap.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/holder.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/html5shiv.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/jquery.scrollTo.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/jquery.validate.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/jquery.mask.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/jquery.slicknav.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/select2.min.js"></script>
    <!-- <script src="/sites/pk-mags/pk-mags/js/jquery.spinner.min.js"></script> -->
    <script src="/sites/pk-mags/pk-mags/js/jquery.bxslider.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/masonry.pkgd.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/respond.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/main.js"></script>
        <%= javascript_include_tag "jquery_ujs.js" %>