<%= render file: Rails.root+'/app/views/sites/pk-mags/header.html',locals: { page:page, site:site}%>

    <!-- content block -->
    <main role="main">
		<section class="banner">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-7 col-lg-8">
						<div class="banner__vertical-align-wrap">
							<div class="banner__inline-block-wrap">
								<p class="banner__title">Производство нестандартного брендированного торгового оборудования и стандартного оборудования для магазинов. </p>
								<a href="#" data-toggle="modal" data-target="#modal__ask" class="btn1 bg-color-red banner__submit"><i class="fa fa-comments-o"></i>задать вопрос</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-5 col-lg-4">
						<div class="banner-form__wrap">
							<div class="banner-form__block-wrap">
								<div class="banner__form">
									<form id="form-validate4" action="" method="post">
										<p>Если Вам нужен быстрый расчет, ответ на вопрос или консультация просто оставьте свой номер и наш менеджер перезвонит в течение 5 минут!</p>
										<div class="bannder-form-input-wrap">
											<input name="name" placeholder="ФИО" type="text">	
										</div>
										<div class="bannder-form-input-wrap">
											<input class="phone-mask" name="phone" placeholder="Телефон" type="text">
										</div>
										<button class="btn3 bg-color-blue">отправить</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="bg-sm"></div>
		</section>
		
		<section class="catalog">
			<div class="container">
				<div id="catalog-container-block" class="row">
					<div class="col-sm-12 col-md-6">
						<h2>Оборудование для магазинов</h2>
						<ul class="catalog__product-list clearfix">
							<li><a href="#">
								<div class="catalog__img-wrap">
									<img src="/sites/pk-mags/pk-mags/images/img1.png" alt="">
								</div>
								<div class="catalog__img-title">Торговые стойки</div>
							</a></li>
							<li><a href="#">
								<div class="catalog__img-wrap">
									<img src="/sites/pk-mags/pk-mags/images/img2.png" alt="">
								</div>
								<div class="catalog__img-title">Стеллажные системы</div>
							</a></li>
							<li><a href="#">
								<div class="catalog__img-wrap">
									<img src="/sites/pk-mags/pk-mags/images/img3.png" alt="">
								</div>
								<div class="catalog__img-title">Витрины из ЛДСП и стекла</div>
							</a></li>
							<li><a href="#">
								<div class="catalog__img-wrap">
									<img src="/sites/pk-mags/pk-mags/images/img4.png" alt="">
								</div>
								<div class="catalog__img-title">Оборудование из картона и пластика</div>
							</a></li>
							<li><a href="#">
								<div class="catalog__img-wrap">
									<img src="/sites/pk-mags/pk-mags/images/img5.png" alt="">
								</div>
								<div class="catalog__img-title">Холодильное оборудование </div>
							</a></li>
							<li><a href="#">
								<div class="catalog__img-wrap">
									<img src="/sites/pk-mags/pk-mags/images/img6.png" alt="">
								</div>
								<div class="catalog__img-title">Комплектующие</div>
							</a></li>
						</ul>
						<div class="catalog__submit-wrap">
							<a href="#" data-toggle="modal" data-target="#modal__download-price" class="btn1 bg-color-blue" style="margin-left:40%" ><i class="fa fa-file-excel-o"></i>скачать полный прайс</a>
							<div class="clearfix visible-xs"></div>
							
						</div>
					</div>
					
				</div>
			</div>
			<div id="sm-container">
				<div class="container">
					<div id="catalog__sm-container" class="row"></div>
				</div>
			</div>
		</section>
        <section class="img-block">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-offset-2 col-sm-offset-0 col-md-8">
						<p>Наше современное производство позволяет нам реализовывать проекты любой сложности в сжатые сроки и по выгодной цене.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="img-block__wrap-img">
							<a href="#">
								<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/2.jpg" alt="">								
							</a>							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-sm-offset-0 col-md-offset-2 col-md-8">
						<p>За 15 лет работы мы поставили более 30000 стоек, 
повышающих продажи товаров отечественных и зарубежных компаний.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<a href="non-standart" class="btn1 bg-color-blue img-block__submit"><i class="fa fa-bars"></i>Узнать подробнее</a>
					</div>
				</div>		
			</div>
		</section>
		<section class="plus">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2>Преимущества</h2>
						<ul class="clearfix plus__list">
							<li class="plus__icon1">
								<p>Брендирование стандартного оборудования по запросу</p>
							</li>
							<li class="plus__icon2">
								<p>Гибкая система ценообразования</p>
							</li>
							<li class="firstfix clearfix visible-sm"></li>
							<li class="plus__icon3">
								<p>Более 100 товарных наименований всегда на складе</p>
							</li>
							
						</ul>						
					</div>
				</div>
			</div>
		</section>
		<section class="clients">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2>Клиенты и партнеры</h2>
						<ul class="clients__list clearfix">
							<li><a href="#">
								<img src="/sites/pk-mags/pk-mags/images/!userfiles/client1.png" alt="">
							</a></li>
							<li><a href="#">
								<img src="/sites/pk-mags/pk-mags/images/!userfiles/client2.png" alt="">								
							</a></li>
							<li><a href="#">
								<img src="/sites/pk-mags/pk-mags/images/!userfiles/client3.png" alt="">								
							</a></li>
							<li><a href="#">
								<img src="/sites/pk-mags/pk-mags/images/!userfiles/client4.png" alt="">								
							</a></li>
							<li class="clearfix visible-xs"></li>
							<li><a href="#">
								<img src="/sites/pk-mags/pk-mags/images/!userfiles/client5.png" alt="">								
							</a></li>
							<li><a href="#">
								<img src="/sites/pk-mags/pk-mags/images/!userfiles/client6.png" alt="">								
							</a></li>
							<li><a href="#">
								<img src="/sites/pk-mags/pk-mags/images/!userfiles/client8.png" alt="">								
							</a></li>
						</ul>						
					</div>
				</div>
			</div>
		</section>
		<section class="other-desc">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
					</div>
				</div>
			</div>
		</section>
    </main>
    <!-- end content block -->

    <%= render file: Rails.root+'/app/views/sites/pk-mags/footer.html',locals: { page:page, site:site}%>

    <!-- modals -->

    <div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <form id="form-validate1" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Обратный звонок</div>	      		
		      	</div>
		      	<p>Оставте ваш телефон, и мы свяжемся с вами в ближайшее время!</p>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone">Телефон для связи</label>
		      		<input  class="phone-mask" name="phone" type="text" id="modal-phone">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>



    <div class="modal fade" id="modal__download-price" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	  <form id="form-validate2" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Скачать полный каталог</div>	      		
		      	</div>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name2">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name2">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone2">Телефон для связи</label>
		      		<input class="phone-mask" name="phone" type="text" id="modal-phone2">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>


    <div class="modal fade" id="modal__ask" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form id="form-validate3" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Задать вопрос</div>	      		
		      	</div>
		      	<p>Напишите нам текст</p>
		      </div>
		      <div class="modal-body clearfix">
				<input type="text" name="fio" placeholder="ФИО">
				<input class="phone-mask" type="text" name="phone" placeholder="Телефон">
				<input type="text" name="email" placeholder="E-mail">
				<textarea name="text" placeholder="Введите сообщение"></textarea>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- end modals -->


	
  </body>
</html>
