<%= render file: Rails.root+'/app/views/sites/pk-mags/header.html',locals: { page:page, site:site}%>

    <!-- content block -->
    <main class="manuf2-page" role="main">
		<section class="banner banner--dealer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="banner__vertical-align-wrap banner__delaer--wrap">
							<div class="banner__inline-block-wrap">
								<p class="banner__title">Производство торгового оборудования из металла и пластика, которое продает</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="infographics">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul class="infographics__list clearfix">
							<li class="infographics__icon1">
								<p>Современное оборудование</p>
							</li>
							<li class="infographics__icon2">
								<p>Высококвалифицированные специалисты </p>
							</li>

							<li class="infographics__icon5">
								<p>Оптимальное соотношение цена-качество</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="img-inf">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="img-inf__big-title">Многогранное производство,  воплощающее самые смелые идеи в жизнь</div>
						<h2 style="font-size: 30px">Металло-сетчатые изделия:</h2>
					</div>
					<div class="col-sm-12 col-md-4">
						<div class="flex-block">
							<div class="img-info__img-cont">
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/manufacturer/1.jpg" alt="">		
								</a>
							</div>
							<span class="before"></span>
							<p style="font-size=20px;">Изделия из проволоки диаметром от 2 до 6 мм</p>
						</div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div class="flex-block">
							<div class="img-info__img-cont">
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/manufacturer/2.jpg" alt="">								
								</a>
							</div>
							<span class="before"></span>
							<p style="font-size=20px;">Изделия из листового и перфорированного металла</p>
						</div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div class="flex-block">
							<div class="img-info__img-cont">
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/manufacturer/3.jpg" alt="">
								</a>
							</div>
							<span class="before"></span>
							<p style="font-size=20px;">Изделия из трубы профильного и круглого сечения</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-12">
						<div class="img-cont__desc-big"><p style="font-size=22px;">
                            <b>Оказываем услуги по рубке, гибке, лазерной раскройке, полимерной окраске металло-сетчатых изделий</b>
						</p></div>
					</div>
				</div>
				<span class="before"></span>
			</div>
		</section>
		<section class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2 style="font-size: 30px">Изделия из пластика</h2>						
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="img-info__img-cont">
							<a href="#">
								<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/manufacturer/5.jpg" alt="">								
							</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-8 col-lg-6">
						<h3 class="line-bottom section-center__product-title">Изделия из пластика в формате 2D и 3D</h3>
						<p class="section-center__product-desc">Оказываем услуги по фрезеровке, гибке, вакуумному формованию изделий из пластика.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="branding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="img-inf__big-title img-inf__big-title--brand">Брендинг: делаем Ваше оборудование уникальным и красивым!</div>							
					</div>		
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<div class="flex-block">
							<div class="img-info__img-cont">
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/manufacturer/4.jpg" alt="">								
								</a>
							</div>
							<p style="font-size=20px;">Топперы, обвесы и другие элементы стиля с помощью качественной полиграфии на бумаге, пленке, пластике</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="flex-block">
							<div class="img-info__img-cont">
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/7.jpg" alt="">								
								</a>
							</div>
							<p style="font-size=20px;">Световое и звуковое оформление</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="flex-block">
							<div class="img-info__img-cont">
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/manufacturer/6.jpg" alt="">								
								</a>
							</div>
							<p style="font-size=20px;">POS-материалы</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center">
						<a class="bg-color-blue btn3" href="#">Еще больше решений по брендингу</a>
					</div>
				</div>
			</div>
		</section>
		<section class="plus2">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2>Преимущества</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="plus2__wrap plus2__wrap-icon1">
							<p>Неизменно высокое качество</p>							
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="plus2__wrap plus2__wrap-icon2">
							<p>выгодные условия</p>							
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="plus2__wrap plus2__wrap-icon3">
							<p>оперативность</p>							
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="plus2__wrap plus2__wrap-icon4">
							<p>максимальная клиентоориентированность</p>							
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="desc">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<p>Начиная с 2005 года ПК МАГС производит качественное торговое оборудование для магазинов. Еженедельно изготавливаются новые модели, которые находят свое применение в самых разнообразных сферах торговли.<br>
Следуя тенденциям рынка и опираясь на богатый опыт и знания, мы предлагаем только самые свежие идеи и эффективные решения. </p>
					</div>
				</div>
			</div>
		</section>
		<section class="phone-question">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-offset-2 col-xl-offset-3 col-md-8 col-xl-6">
						<div class="phone-question__desc-wrap">
							<h2>Каждый наш клиент – это особый клиент. Убедитесь в этом сами.</h2>
							<div class="phone-question-form-wrap">
								<form id="form-validate3" action="" method="post">
									<div class="phone-question__field-wrap">
										<input placeholder="Телефон" name="phone" class="phone-mask phone-question__field" type="text">
									</div>
									<button class="phone-question__button btn3 bg-color-black">Отправить</button>
								</form>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    </main>
    <!-- end content block -->

   <%= render file: Rails.root+'/app/views/sites/pk-mags/footer.html',locals: { page:page, site:site}%>

    <!-- modals -->

    <div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <form id="form-validate1" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Обратный звонок</div>	      		
		      	</div>
		      	<p>Оставте ваш телефон, и мы свяжемся с вами в ближайшее время!</p>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone">Телефон для связи</label>
		      		<input  class="phone-mask" name="phone" type="text" id="modal-phone">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>



    <div class="modal fade" id="modal__download-price" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	  <form id="form-validate2" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Скачать полный каталог</div>	      		
		      	</div>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name2">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name2">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone2">Телефон для связи</label>
		      		<input class="phone-mask" name="phone" type="text" id="modal-phone2">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>


    <div class="modal fade" id="modal__ask" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form id="form-validate3" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Задать вопрос</div>	      		
		      	</div>
		      	<p>Напишите нам текст</p>
		      </div>
		      <div class="modal-body clearfix">
				<input type="text" name="fio" placeholder="ФИО">
				<input class="phone-mask" type="text" name="phone" placeholder="Телефон">
				<input type="text" name="email" placeholder="E-mail">
				<textarea name="text" placeholder="Введите сообщение"></textarea>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- end modals -->



  </body>
</html>
