<%= render file: Rails.root+'/app/views/sites/pk-mags/header.html',locals: { page:page, site:site}%>

    <!-- content block -->
    <main class="product-page" role="main">
    	<div class="breadcrumbs">
    		<div class="container">
    			<div class="row">
    				<div class="col-xs-12">
			    		<ul class="bradcrumbs-list clearfix">
			    			<li><a href="#">Главная</a></li>
			    			<li><a href="#">Продукция</a></li>
			    			<li><a href="#">Стеллажные системы</a></li>
			    			<li>Стеллаж пристенный с 5-ю полками</li>
			    		</ul>    					
    				</div>
    			</div>
    		</div>
    	</div>
    	<section class="product-main">
    		<div class="container">
    			<div class="row">
    				<div id="product__title-container" class="col-xs-12"></div>
    				<div class="col-xs-12 col-md-4 col-sm-6">
    					<div class="product-main__img-cont">
							<a id="product__link-img" href="#">
                                <% if page.products.first.action_price %>
								    <div class="item__stock item__stock--product">акция</div>
                                <% end %>
	    						<img class="img-responsive" src="<%=page.products.first.logo%>" alt="">					
							</a>
    					</div>
    					<p class="product-main__img-desc"><i class="fa fa-search"></i> Для увеличения кликните по картинке</p>
    				</div>
    				<div class="col-xs-12 col-md-8 col-sm-6">
    					<div class="clearfix">
    						<div id="product__main-cont">
	    						<h1 id="product__title-main"> <%=page.products.first.name%> </h1>    							
    						</div>
                                
	    					<span class="product-main__in-stock">в наличии</span>
                                
    					</div>
    					<div class="clearfix">
	    					<div class="item-type-wrap">
	    						<div class="item-type__title">Количество</div>
								<div class="input-group spinner" data-trigger="spinner">
                            <form class="js-form-add-basket-<%=page.id%>">
						            <input type="text" name="quantity" class="form-control text-center js-value-number-<%=page.id%>" value="1" data-rule="quantity">
                                    <input type="hidden" value="<%=page.products.first.id%>" name="product_id">
                                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            </form> 
                                    <a href="javascript:;" class="spin-up js-button-plus" data-spin="up"  id="<%=page.id%>">+</a>
						            <a href="javascript:;" class="spin-down js-button-minus" data-spin="down"  id="<%=page.id%>">-</a>
					            </div>    						
	    					</div>
	    					<div class="item-type-wrap">
	    						<div class="item-type__title">Размер</div>
			    				<select class="filter__select product-main-select">
			    					<option>ш 400мм-в 320мм-г 320мм  </option>
			    					<option>ш 400мм-в 320мм-г 320мм  </option>
			    					<option>ш 400мм-в 320мм-г 320мм  </option>
			    					<option>ш 400мм-в 320мм-г 320мм  </option>
			    				</select>	   						
	    					</div>
	    					<div class="item-type-wrap">
	    						<a class="item__3d-link" href="#">посмотреть модель</a>
	    					</div>
    					</div>
    					<div class="clearfix item__center-wrap">
	    					<div class="item__pay-wrap">
	    						<div class="item-type__title">Цена</div>
                                <% if page.products.first.action_price %>
									   <div class="item__old-price"><%=page.products.first.action_price%></div>
                                        <div class="item__price item__price--mrgn"><%=page.products.first.price%> <span class="item__rubl">руб</span></div>
                                            <% else %>
                                                <div class="item__price"><%=page.products.first.price%> <span class="item__rubl">руб</span></div>			
                                                    <% end %>
	    					</div>
	    					<div class="item__color-wrap">
	    						<div class="item-type__title">Цвет</div>
	    						<span class="item__color">Белый</span>
	    						<a class="item__all-color" href="#">другие цвета</a>
	    					</div>
    					</div>
    					<a class="item__add-basket bg-color-red js-button-add-basket" data-toggle="modal" data-target="#modal-basket" href="#" id="<%=page.id%>"><i class="fa fa-shopping-cart "></i>Добавить в корзину</a>
    					<div id="product-md-cont">
	    					<div id="product-center-wrap">
		    					<div class="item__delivery-wrap" style="visibility: hidden">
									<div class="row">
										<div class="col-xs-12 col-sm-4">
											<div class="item__delivery">
												<i class="fa fa-car"></i>											
												<p>Доставка по всей России</p>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4">
											<div class="item__delivery">
												<i class="fa fa-car"></i>											
												<p>Доставка по всей России</p>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4">
											<div class="item__delivery">
												<i class="fa fa-car"></i>											
												<p>Доставка по всей России</p>
											</div>
										</div>
									</div>    						
		    					</div>
		    					<div class="item__info-wrap">
		    						<div class="row">
		    							<div class="col-xs-12 col-sm-5">
		    								<h3 class="line-bottom item__line-title">Характеристики:</h3>
		    								<ul>
		    									<li>Кол-во карманов: <span>9</span></li>
		    									<li>Габариты короба: <span>1610 х 410 х 200</span></li>
		    									<li>Объём: <span>1м<sup>3</sup></span></li>
		    									<li>Вес: <span>52 кг</span></li>
		    								</ul>
		    							</div>
		    							<div class="col-xs-12 col-sm-7">
		    								<h3 class="line-bottom item__line-title">Описание:</h3>
											<%=raw page.products.first.body %>
		    							</div>
		    						</div>
		    					</div>    						
	    					</div>
    					</div>
			        </div>
			        <div id="sm-cont-wrap" class="col-xs-12">
			        	
			        </div>
    			</div>
    		</div>
    	</section>
      <%  if !page.products.first.related.blank? %>
    	<section class="product-other">
    		<div class="container">
    			<div class="row">
    				<div class="col-xs-12">
    					<h2>С этим товаром также покупают</h2>
						<ul class="bxslider catalog-list__item catalog-all__slider product__slider-xs clearfix">
        <%  unless page.products.first.related.blank? %>
          <%   page.products.first.related.split(';').each do |relat|  %>
              <% thisProduct = Page.find_by(name: relat, site_id: site.id) %>
                  <% if thisProduct %>
                                            <li>
                                              <div style="height: 260px;" > <a href="<%=page_full_path(thisProduct) %>">
                                                        <img class="img-responsive" src="<%=thisProduct.products.first.logo%>" alt="">
								                    </a> </div>
                                                <p><%=thisProduct.products.first.name%></p>
								                <div class="item__price-wrap clearfix">
                                                    <% if thisProduct.products.first.action_price %>
                                                    <div class="item__stock">акция</div>
                                                    <div class="item__old-price"><%=thisProduct.products.first.action_price%></div>
                                                    <div class="item__price"><%=thisProduct.products.first.price%> <span class="item__rubl">руб</span></div>
                                                    <% else %>
                                                    <div class="item__price"><%=thisProduct.products.first.price%> <span class="item__rubl">руб</span></div>			<% end %>
								                </div>
                                                <a class="btn4 bg-color-blue item__button" href="<%=page_full_path(thisProduct) %>">подробнее<i class="fa fa-angle-double-right"></i></a>
                            </li>    
                                <% end %>
                               <% end %>
                           <% end %>	
						</ul>
    				</div>
    			</div>
    		</div>
    	</section>
              <% end %>
		<section class="catalog-all-list">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul class="catalog-all-list__list">
							<li><i class="fa fa-angle-right"></i><a href="#">Торговые стойки</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Стеллажные системы</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Витрины из ЛДСП и стекла</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Оборудование из картона и пластика</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Холодильное оборудование</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Комплектующие</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
    </main>
    <!-- end content block -->

    <%= render file: Rails.root+'/app/views/sites/pk-mags/footer.html',locals: { page:page, site:site}%>

    <!-- modals -->

    <div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <form id="form-validate1" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Обратный звонок</div>	      		
		      	</div>
		      	<p>Оставте ваш телефон, и мы свяжемся с вами в ближайшее время!</p>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone">Телефон для связи</label>
		      		<input  class="phone-mask" name="phone" type="text" id="modal-phone">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>



    <div class="modal fade" id="modal__download-price" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	  <form id="form-validate2" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Скачать полный каталог</div>	      		
		      	</div>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name2">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name2">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone2">Телефон для связи</label>
		      		<input class="phone-mask" name="phone" type="text" id="modal-phone2">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>


    <div class="modal fade" id="modal__ask" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form id="form-validate3" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Задать вопрос</div>	      		
		      	</div>
		      	<p>Напишите нам текст</p>
		      </div>
		      <div class="modal-body clearfix">
				<input type="text" name="fio" placeholder="ФИО">
				<input class="phone-mask" type="text" name="phone" placeholder="Телефон">
				<input type="text" name="email" placeholder="E-mail">
				<textarea name="text" placeholder="Введите сообщение"></textarea>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- end modals -->

	<!-- basket -->

    <div class="modal fade" id="modal-basket" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content clearfix">
	      <div class="modal-header clearfix">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
		  </div>
			<div class="modal-basket__wrap-left">
				<div class="modal-basket__wrap2">
					<div class="modal-title">Товар  добавлен в корзину</div>
					<div class="modal-basket__desc-wrap clearfix">
						<div class="modal-basket__img-cont">
							<img class="img-responsive" src="<%=page.products.first.logo%>" alt="">
						</div>
						<div class="modal-basket__desc-right-wrap">
							<div class="modal-basket__product-title"><%=page.products.first.name %></div>
							<div class="modal-bakset__price-title">Цена:</div>
							<div class="modal-bakset__price"><%=page.products.first.price%> <span class="modal-bakset__rubl">руб</span></div>
						</div>
					</div>
					<table class="modal-basket__basket">
						<tr>
							<th>Размер</th>
							<th>Количество</th>
							<th>Стоимость</th>
						</tr>
						<tr>
							<td>ш 400мм-в 320мм-г 320мм  </td>
							<td> <div id="quantity_for_bask"></div>
                            </td>
							<td> <div id="summ_for_bask" price="<%=page.products.first.price%>"></div></td>
						</tr>
					</table>
					<div class="modal-basket__button-wrap clearfix">
						<a href="/basket" class="modal-basket__left-btn btn3 bg-color-blue">оформить заказ</a>
						<div class="clearfix visible-xs"></div>
						<a href="#" data-dismiss="modal" class="modal-basket__right-btn btn3 bg-color-black">продолжить покупки</a>
					</div>					
				</div>
			</div>
			<div class="modal-basket__wrap-right">
				<div class="wrapper-right-col">
					<div class="modal-title">С этим покупают:</div>
			    	<table class="wrap-right__table">
                        <%  unless page.products.first.related.blank? %>
          <%   page.products.first.related.split(';').each do |relat|  %>
              <% thisProduct = Page.find_by(name: relat, site_id: site.id) %>
                  <% if thisProduct %>
			    		<tr>
			    			<td>
			    				<div class="wrap-right__img-cont">
			    					<img class="img-responsive" src="<%=thisProduct.products.first.logo%>" alt="">	    					
			    				</div>
			    			</td>
			    			<td>
			    				<p><%=thisProduct.products.first.name%></p>
			    			</td>
			    			<td>
			    				<div class="wrap-right__price"><%=thisProduct.products.first.price%> р.</div>
			    			</td>
			    			<td>
			    				<div class="wrap-right__shopping text-right">
                                <form class="js-form-add-basket-<%=page.id%>">
						            <input type="hidden" name="quantity" class="form-control text-center js-value-number-<%=page.id%>" value="1" data-rule="quantity">
                                    <input type="hidden" value="<%=page.products.first.id%>" name="product_id">
                                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            </form> 
				    				<a href="/basket" class="js-button-add-basket" id="<%=thisProduct.id%>">
				    					<i class="fa fa-shopping-cart"></i>
				    				</a>		    					
			    				</div>
			    			</td>
			    		</tr>
			    		           <% end %>
                                <% end %>
                            <% end %>
			    		
			    		
			    	</table>
		    	</div>
	    	</div>
	    </div>
	  </div>
	</div>

	<!-- end basket -->

	<!-- img modal -->

	    <div class="modal fade" id="modal__img-cont" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header clearfix">
	      	<div class="clearfix">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>     		
	      	</div>
	      </div>
	      <div class="modal-body">
	      	<img src="" class="modal__imagepreview">
	      </div>
	    </div>
	  </div>
	</div>

	<!-- end img modal -->


	
  </body>
</html>
