
<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<title>Студия Тырновых</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
<%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
<%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
<%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
<%= javascript_include_tag "application" %>
</head>
<body>
<div class='navbar navbar-default navbar-static-top'>
<div class='container'>
<button class='navbar-toggle' data-target='.navbar-responsive-collapse' data-toggle='collapse' type='button'>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
</button>
<a class='navbar-brand' href='http://tyrnov.com' target='_blank'>СБТ</a>
</div>
</div>
<div class='container'><div class='row'>
<div class='col-lg-3'></div>
<div class='col-lg-6'>
<h2 class='text-center'>Регистрация</h2>
<form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="UH9b7JQPE9V9glBIvYIrMe+e/t3HVqjpEk6diPdAgYM=" /></div><input id="site_id" name="site_id" type="hidden" value="1" />

<div class='form-group'>
<label for="user_email">Email</label>
<br>
<input autofocus="autofocus" class="form-control" id="user_email" name="user[email]" type="email" value="" />
</div>
<div class='form-group'>
<label for="user_Пароль">Пароль</label>
<em>
(минимум 8 символов)
</em>
<br>
<input autocomplete="off" class="form-control" id="user_password" name="user[password]" type="password" />
</div>
<div class='form-group'>
<label for="user_Пароль еще раз">Пароль еще раз</label>
<br>
<input autocomplete="off" class="form-control" id="user_password_confirmation" name="user[password_confirmation]" type="password" />
</div>
<input class="btn btn-info btn-block" name="commit" type="submit" value="Зарегистрироваться" />
</form>

<hr>
<span class='help-block text-center' id='helpBlock'>Зарегистрируйтесь на сайте или войдите на сайт, используя логин и пароль:</span>
<a class="btn btn-link btn-block" href="/users/sign_in">Войти на сайт</a>

</div>
<div class='col-lg-3'></div>
</div>
</div>
<footer class='footer'>
<div class='container'>
<p class='text-muted'>
&copy;
<a href='http://tyrnov.com' target='_blank'>Cтудия «Братьев Тырновых»</a>
2014
</p>
</div>
</footer>
</body>
</html>
