<%= render file: Rails.root+'/app/views/sites/pk-mags/header.html',locals: { page:page, site:site}%>

    <!-- content block -->
    <main class="action-page" role="main">
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12">
    				<h1>Акции и спецпредложения</h1>
    			</div>
    		</div>
    	</div>
    	<section class="slider-action">
    		<div class="container">
    			<div class="row">
    				<div class="col-xs-12">
			    		<ul id="slider3">
			    			<li><a href="#">
			    				<img src="/sites/pk-mags/pk-mags/images/!userfiles/action1.jpg" alt="">
			    			</a></li>
			    			<li><a href="#">
			    				<img src="/sites/pk-mags/pk-mags/images/!userfiles/action2.jpg" alt="">
			    			</a></li>
			    			<li><a href="#">
			    				<img src="/sites/pk-mags/pk-mags/images/!userfiles/action1.jpg" alt="">
			    			</a></li>
			    			<li><a href="#">
			    				<img src="/sites/pk-mags/pk-mags/images/!userfiles/action2.jpg" alt="">
			    			</a></li>
			    		</ul>    					
    				</div>
    			</div>
    		</div>
    	</section>
    	<section class="action__item">
    		<div class="container">
    			<div class="row">
    				<div class="col-xs-12">
    					<h2>Акции</h2>
						<div class="catalog-list__item catalog-list__item--action clearfix">
							<div>
								<div class="item__stock">акция</div>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__old-price">99999</div>
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</div>
							<div>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</div>
							<span class="info-bottom-clear clearfix visible-xs"></span>
							<div>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</div>
							<span class="info-bottom-clear clearfix visible-md visible-sm"></span>
							<div>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</div>
							<span class="info-bottom-clear clearfix visible-lg visible-xs"></span>
							<div>
								<div class="item__stock">акция</div>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__old-price">99999</div>
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</div>
							<span class="info-bottom-clear clearfix visible-xl"></span>
							<div>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</div>
							<span class="info-bottom-clear clearfix visible-md visible-sm visible-xs"></span>
							<div>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</div>
							<div>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</div>
							<span class="info-bottom-clear clearfix visible-lg visible-xs"></span>
							<div>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</div>
							<span class="info-bottom-clear clearfix visible-md visible-sm"></span>
							<div>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</div>
							<span class="info-bottom-clear clearfix visible-xl visible-xs"></span>
						</div>
						<p class="action__desc">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
    				</div>
    			</div>
    		</div>
    	</section>
		<section class="catalog-all-list">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul class="catalog-all-list__list catalog-list-item">
							<li><i class="fa fa-angle-right"></i><a href="#">для напитков и воды</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">для специй и приправ</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">для печатной и рекламной продукции</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">для аксессуаров, украшений, сувенировя</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">для снеков</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">для детских товаров и игрушек</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">для автотоваров</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Смотреть больше</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
    </main>
    <!-- end content block -->

    <%= render file: Rails.root+'/app/views/sites/pk-mags/footer.html',locals: { page:page, site:site}%>

    <!-- modals -->

    <div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <form id="form-validate1" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Обратный звонок</div>	      		
		      	</div>
		      	<p>Оставте ваш телефон, и мы свяжемся с вами в ближайшее время!</p>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone">Телефон для связи</label>
		      		<input  class="phone-mask" name="phone" type="text" id="modal-phone">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>



    <div class="modal fade" id="modal__download-price" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	  <form id="form-validate2" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Скачать полный каталог</div>	      		
		      	</div>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name2">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name2">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone2">Телефон для связи</label>
		      		<input class="phone-mask" name="phone" type="text" id="modal-phone2">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>


    <div class="modal fade" id="modal__ask" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form id="form-validate3" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Задать вопрос</div>	      		
		      	</div>
		      	<p>Напишите нам текст</p>
		      </div>
		      <div class="modal-body clearfix">
				<input type="text" name="fio" placeholder="ФИО">
				<input class="phone-mask" type="text" name="phone" placeholder="Телефон">
				<input type="text" name="email" placeholder="E-mail">
				<textarea name="text" placeholder="Введите сообщение"></textarea>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- end modals -->


	<!-- modal category -->

   <div class="modal fade" id="modal__category" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header clearfix">
	      	<div id="modal__cont-title" class="clearfix">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
	      	</div>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- end modal category -->


	
  </body>
</html>
