<%= render file: Rails.root+'/app/views/sites/pk-mags/header.html',locals: { page:page, site:site}%>

    <!-- content block -->
    <main class="list-news-page" role="main">
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12">
    				<h1>Новости компании</h1>
    			</div>
    		</div>
    	</div>
		<section class="all-news">
			<div class="container">
				<div id="grid-item" class="row">
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="other-news__item">
							<div class="other-news__item-date">10.11.2016</div>
							<div class="other-news__item-title">Название название Название название</div>
							<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/3.jpg" alt="">
							<p>Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой</p>
							<a class="other-news__learn-link" href="#">Читать подробнее</a>
						</div>
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="other-news__item">
							<div class="other-news__item-date">10.11.2016</div>
							<div class="other-news__item-title">Название название Название название</div>
							<p>Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджерам отдела клиентского обслуживания с помощью специальной формы связи или по телефону: 8(495)743-35-36</p>
							<a class="other-news__learn-link" href="#">Читать подробнее</a>
						</div>
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="other-news__item">
							<div class="other-news__item-date">10.11.2016</div>
							<div class="other-news__item-title">Название название Название название</div>
							<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/4.jpg" alt="">
							<a class="other-news__learn-link" href="#">Читать подробнее</a>
						</div>
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="other-news__item">
							<div class="other-news__item-date">10.11.2016</div>
							<div class="other-news__item-title">Название название Название название</div>
							<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/4.jpg" alt="">
							<a class="other-news__learn-link" href="#">Читать подробнее</a>
						</div>
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="other-news__item">
							<div class="other-news__item-date">10.11.2016</div>
							<div class="other-news__item-title">Название название Название название</div>
							<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/3.jpg" alt="">
							<p>Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой</p>
							<a class="other-news__learn-link" href="#">Читать подробнее</a>
						</div>
					</div>
					<div class="grid-item col-xs-12 col-sm-6 col-md-4">
						<div class="other-news__item">
							<div class="other-news__item-date">10.11.2016</div>
							<div class="other-news__item-title">Название название Название название</div>
							<p>Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджерам отдела клиентского обслуживания с помощью специальной формы связи или по телефону: 8(495)743-35-36</p>
							<a class="other-news__learn-link" href="#">Читать подробнее</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center">
						<ul class="pagination__list clearfix">
							<li><a class="pagination__arrow pagination__prev" href="#"><i class="fa fa-angle-left"></i></a></li>
							<li><a href="#">1</a></li>
							<li><a class="pagination__active" href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a class="pagination__arrow pagination__next" href="#"><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
    </main>
    <!-- end content block -->

    <%= render file: Rails.root+'/app/views/sites/pk-mags/footer.html',locals: { page:page, site:site}%>

    <!-- modals -->

    <div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <form id="form-validate1" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Обратный звонок</div>	      		
		      	</div>
		      	<p>Оставте ваш телефон, и мы свяжемся с вами в ближайшее время!</p>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone">Телефон для связи</label>
		      		<input  class="phone-mask" name="phone" type="text" id="modal-phone">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>



    <div class="modal fade" id="modal__download-price" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	  <form id="form-validate2" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Скачать полный каталог</div>	      		
		      	</div>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name2">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name2">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone2">Телефон для связи</label>
		      		<input class="phone-mask" name="phone" type="text" id="modal-phone2">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>


    <div class="modal fade" id="modal__ask" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form id="form-validate3" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Задать вопрос</div>	      		
		      	</div>
		      	<p>Напишите нам текст</p>
		      </div>
		      <div class="modal-body clearfix">
				<input type="text" name="fio" placeholder="ФИО">
				<input class="phone-mask" type="text" name="phone" placeholder="Телефон">
				<input type="text" name="email" placeholder="E-mail">
				<textarea name="text" placeholder="Введите сообщение"></textarea>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- end modals -->


	
  </body>
</html>
