<%= render file: Rails.root+'/app/views/sites/pk-mags/header.html',locals: { page:page, site:site}%>

    <!-- content block -->
    <main class="basket-page" role="main">
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12">
    				<h1>Корзина товаров</h1>
    			</div>
    		</div>
    	</div>
        <% if @current_cart.cart_items.blank? %>
            <div class="title_clear_basket">
                Ваша корзина пуста. Добавьте товары
                <a href="/catalog/">
                    <div class="button_catalog_basket button_green" >Каталог товаров</div>
                </a>
            </div>
        <% else %>
     
		<section class="basket-table">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<table>
							<tr class="hidden-xs">
								<th colspan="2">Название</th>
								<th>Цена</th>
								<th>Количество</th>
								<th class="hidden-md hidden-sm hidden-xs">Габариты</th>
								<th class="hidden-md hidden-sm hidden-xs">Вес</th>
								<th class="hidden-md hidden-sm hidden-xs">Объем</th>
								<th>Стоимость</th>
								<th colspan="2"></th>
							</tr>
							<tr>
                                <% value_mass = 0 %>
                                <% value_v = 0 %>
                                <%- @current_cart.cart_items.each do |cart_item| %>
								<td class="table__img-cont-wrap">
									<div class="table__img-cont">
                                        <a href="<%=page_full_path(cart_item.product.pages.first)%>"><img class="img-responsive" src="<%= cart_item.product.pages.first.products.first.logo %>" alt=""></a>
									</div>
								</td>
								<td class="basket__item-name"><a href="<%=page_full_path(cart_item.product.pages.first)%>"><%= cart_item.product.pages.first.name %></a></td>
                                <td class="hidden-xs"> <% if !cart_item.product.action_price.nil? %>
                                    <%= cart_item.product.action_price %>  <span>р.</span>
                        <% else %>
                        <%= cart_item.product.price %>  <span>р.</span>
                        <% end %></td>
								<td class="hidden-xs">
									<div class="input-group spinner" data-trigger="spinner">
							            <input type="text" class="form-control text-center" value="<%= cart_item.quantity %>" data-rule="quantity" name="quantity">
							            <a href="javascript:;" class="spin-up" data-spin="up" id="<%=cart_item.product.id%>">+</a>
							            <a href="javascript:;" class="spin-down" data-spin="down" id="<%=cart_item.product.id%>" >-</a>
						            </div>
								</td>
								<td class="hidden-md hidden-sm hidden-xs">
				    				<select class="filter__select product-main-select">
				    					<option>ш 400мм-в 320мм-г 320мм  </option>
				    					<option>ш 400мм-в 320мм-г 320мм  </option>
				    					<option>ш 400мм-в 320мм-г 320мм  </option>
				    					<option>ш 400мм-в 320мм-г 320мм  </option>
				    				</select>	
								</td>
								<td class="hidden-md hidden-sm hidden-xs"><div class="value_mass-<%=cart_item.product.id%>">12</div>кг</td> <% value_mass+= 0 %>
                                <td class="hidden-md hidden-sm hidden-xs"><div class="values_v-<%=cart_item.product.id%>">500</div> м<sup>3</sup></td> <% value_v += 0 %>
                                <td class="hidden-xs"><div class="tr_basket sum_basket price_detail_basket font-bold js-sum-tovar-<%=cart_item.product.id%>"><% if !cart_item.product.action_price.nil? %>
                                    <%= cart_item.product.action_price %>  <span>р.</span>
                        <% else %>
                        <%= cart_item.product.price %>  <span>р.</span>
                        <% end %></div></td>
								<td><i class="fa fa-times"></i></td>
                                <% end %>
							</tr>
							
							
							<tr class="hidden-xs">
								<td colspan="5">Итого</td>
                                <td><%= value_mass  %></td>
                                <td><%= value_v %> м3</td>
								<td colspan="2"><%= @current_cart.price %> р.</td>
							</tr>
						</table>						
					</div>
				</div>
			</div>
		</section>
		<section class="basket-bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-6">
						<div class="basket-bottom-col-left">
							<div>
								<div class="basket-bottom__left-title line-bottom">Скидка</div>								
							</div>
							<div class="basket-bottom__discount">
								<div class="discount__left-block">
									<span class="discount__title">скидка</span>
									<span class="discount__value">3% <span class="red">*</span></span>
								</div>
								<div class="discount__right-block">
									<span class="discount__title">сумма скидки:</span>
									<span class="discount__value">300 р.</span>
								</div>
							</div>
							<p class="discount__desc">Чтобы получить скидку 10% добавьте в корзину    товаров на сумму 99999 руб </p>
							<div class="text-left basket-bottom__btn">
								<a href="#" class="btn1 bg-color-blue"><i class="fa fa-bars"></i>в каталог</a>
							</div>
							<div class="price-final">
								<span class="price-final__title">к оплате:</span>
								<span class="price-final__price">3232000 р.</span>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="basket-bottom-col-right">
							<h2>Оформление заказа</h2>
							<div class="basket-bottom__form-cont">
								<form id="form-validate3" action="" method="post">
									<input name="fio" placeholder="ФИО" type="text">
									<input name="email" placeholder="E-mail" type="text">
									<input class="phone-mask" name="phone" placeholder="Телефон" type="text">
									<textarea name="text" placeholder="Комментарии к заказу"></textarea>
									<button href="#" class="btn3 bg-color-red basket-bottom__form-btn">Оформить заказ</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
            <% end %>
		<section class="catalog-all-list">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul class="catalog-all-list__list">
							<li><i class="fa fa-angle-right"></i><a href="#">Магазины хозтоваров</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Аксессуары и сувениры</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Проведение распродаж</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Для книг, газет и журналов</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Выставочные стойки</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Магазины детских товаров</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Строительные магазины</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Магазины одежды и обуви</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
    </main>
    <!-- end content block -->

    <%= render file: Rails.root+'/app/views/sites/pk-mags/footer.html',locals: { page:page, site:site}%>
    <!-- modals -->

    <div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <form id="form-validate1" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Обратный звонок</div>	      		
		      	</div>
		      	<p>Оставте ваш телефон, и мы свяжемся с вами в ближайшее время!</p>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone">Телефон для связи</label>
		      		<input  class="phone-mask" name="phone" type="text" id="modal-phone">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>



    <div class="modal fade" id="modal__download-price" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	  <form id="form-validate2" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Скачать полный каталог</div>	      		
		      	</div>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name2">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name2">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone2">Телефон для связи</label>
		      		<input class="phone-mask" name="phone" type="text" id="modal-phone2">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- end modals -->


	
  </body>
</html>
