<%= render file: Rails.root+'/app/views/sites/pk-mags/header.html',locals: { page:page, site:site}%>
    <!-- content block -->
    <main class="catalog-page" role="main">
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12">
    				<h1>Продукция</h1>
    			</div>
    		</div>
    	</div>
		<section class="product">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul class="product__catalog-list clearfix">
							<li><a href="#">
								<div class="product__catalog-list-img-wrap">
									<img src="/sites/pk-mags/pk-mags/images/img1-big.png" alt="">
								</div>
								<div class="product__catalog-list-title">Торговые стойки</div>
							</a></li>
							<li><a href="#">
								<div class="product__catalog-list-img-wrap">
									<img src="/sites/pk-mags/pk-mags/images/img2-big.png" alt="">
								</div>
								<div class="product__catalog-list-title">Стеллажные системы</div>
							</a></li>
							<li><a href="#">
								<div class="product__catalog-list-img-wrap">
									<img src="/sites/pk-mags/pk-mags/images/img3-big.png" alt="">
								</div>
								<div class="product__catalog-list-title">Витрины из ЛДСП и стекла</div>
							</a></li>
							<li><a href="#">
								<div class="product__catalog-list-img-wrap">
									<img src="/sites/pk-mags/pk-mags/images/img4-big.png" alt="">
								</div>
								<div class="product__catalog-list-title">Оборудование из картона и пластика</div>
							</a></li>
							<li><a href="#">
								<div class="product__catalog-list-img-wrap">
									<img src="/sites/pk-mags/pk-mags/images/img5-big.png" alt="">
								</div>
								<div class="product__catalog-list-title">Холодильное оборудование </div>
							</a></li>
							<li><a href="#">
								<div class="product__catalog-list-img-wrap">
									<img src="/sites/pk-mags/pk-mags/images/img6-big.png" alt="">
								</div>
								<div class="product__catalog-list-title">Комплектующие</div>
							</a></li>
						</ul>
						<div class="catalog__submit-wrap text-center">
							<a href="#" data-toggle="modal" data-target="#modal__download-price" class="btn1 bg-color-blue" ><i class="fa fa-file-excel-o"></i>скачать полный прайс</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="catalog-all-list">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul class="catalog-all-list__list">
							<li><i class="fa fa-angle-right"></i><a href="#">Магазины хозтоваров</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Аксессуары и сувениры</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Проведение распродаж</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Для книг, газет и журналов</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Выставочные стойки</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Магазины детских товаров</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Строительные магазины</a></li>
							<li><i class="fa fa-angle-right"></i><a href="#">Магазины одежды и обуви</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="img-block">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-offset-2 col-sm-offset-0 col-md-8">
						<p>Наше современное производство позволяет нам реализовывать проекты любой сложности в сжатые сроки и по выгодной цене.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="img-block__wrap-img">
							<a href="#">
								<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/2.jpg" alt="">								
							</a>							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-sm-offset-0 col-md-offset-2 col-md-8">
						<p>За 15 лет работы мы поставили более 30000 стоек, 
повышающих продажи товаров отечественных и зарубежных компаний.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<a href="#" class="btn1 bg-color-blue img-block__submit"><i class="fa fa-bars"></i>Узнать подробнее</a>
					</div>
				</div>		
			</div>
		</section>
    </main>
    <!-- end content block -->

    <%= render file: Rails.root+'/app/views/sites/pk-mags/footer.html',locals: { page:page, site:site}%>

    <!-- modals -->

    <div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <form id="form-validate1" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Обратный звонок</div>	      		
		      	</div>
		      	<p>Оставте ваш телефон, и мы свяжемся с вами в ближайшее время!</p>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone">Телефон для связи</label>
		      		<input  class="phone-mask" name="phone" type="text" id="modal-phone">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>



    <div class="modal fade" id="modal__download-price" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	  <form id="form-validate2" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Скачать полный каталог</div>	      		
		      	</div>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name2">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name2">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone2">Телефон для связи</label>
		      		<input class="phone-mask" name="phone" type="text" id="modal-phone2">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>


    <div class="modal fade" id="modal__ask" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form id="form-validate3" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Задать вопрос</div>	      		
		      	</div>
		      	<p>Напишите нам текст</p>
		      </div>
		      <div class="modal-body clearfix">
				<input type="text" name="fio" placeholder="ФИО">
				<input class="phone-mask" type="text" name="phone" placeholder="Телефон">
				<input type="text" name="email" placeholder="E-mail">
				<textarea name="text" placeholder="Введите сообщение"></textarea>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- end modals -->


	
  </body>
</html>
