<%= render file: Rails.root+'/app/views/sites/pk-mags/header.html',locals: { page:page, site:site}%>
    <!-- footer block -->
    <footer class="footer" role="contentinfo">
    	<div class="footer-top footer-top-contact">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-sm-12 col-md-5">
	    				<div class="phone phone__footer">+7(499)110-19-36<br>+7(473)239-22-63</div>
	    				<a class="footer__email" href="">info@pkmags.ru</a>
	    				<address>
	    					<p>Офис и производство: г.Воронеж, ул. Еремеева 22, офис 205<br>
                                Центр приема заказов: г.Москва набережная Тараса Шевченко, 23а офис 610
							</p>
	    				</address>
						<a href="#" data-toggle="modal" data-target="#modal__ask" class="btn1 bg-color-blue banner__submit"><i class="fa fa-comments-o"></i>обратная связь</a>
	    			</div>
	    		</div>
	    	</div>
			<div id="map"></div>    		
    	</div>
	    <div id="sm-modal" class="modal-content modal-content-black">
	      <form id="form-validate3" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Задать вопрос</div>	      		
		      	</div>
		      	<p>Напишите нам текст</p>
		      </div>
		      <div class="modal-body clearfix">
				<input type="text" name="fio" placeholder="ФИО">
				<input class="phone-mask" type="text" name="phone" placeholder="Телефон">
				<input type="text" name="email" placeholder="E-mail">
				<textarea name="text" placeholder="Введите сообщение"></textarea>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
    	<div class="footer-bottom">
    		<div class="footer__scroll-top-wrap">
    			<span id="footer__scroll-top"><i class="fa fa-angle-up"></i></span>
    		</div>
    		<div class="container">
    			<div class="row">
    				<div class="col-xs-7 col-sm-6 col-lg-5 col-lg-4">
    					<p class="footer__copyright">&copy; PKMAGS, 2015.  Все права защищены.</p>
    					<a class="footer__map-site" href="#">карта сайта</a>  					
    				</div>
    				<div class="col-xs-5 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4 col-lg-offset-5 col-lg-3">
    					<div class="dev-main-wrapper">
							<a class="footer__developers-by" href="#"><span class="dev-wrapper">Создание и продвижение<br><strong>СТУДИЯ БРАТЬЕВ ТЫРНОВЫХ</strong></span></a>
						</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </footer>
    <!-- end footer block -->

    <!-- modals -->

    <div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <form id="form-validate1" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Обратный звонок</div>	      		
		      	</div>
		      	<p>Оставте ваш телефон, и мы свяжемся с вами в ближайшее время!</p>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone">Телефон для связи</label>
		      		<input  class="phone-mask" name="phone" type="text" id="modal-phone">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>



    <div class="modal fade" id="modal__download-price" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	  <form id="form-validate2" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Скачать полный каталог</div>	      		
		      	</div>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name2">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name2">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone2">Телефон для связи</label>
		      		<input class="phone-mask" name="phone" type="text" id="modal-phone2">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>


    <div class="modal fade" id="modal__ask" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content modal-content-black">
	      <form id="form-validate3" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Задать вопрос</div>	      		
		      	</div>
		      	<p>Напишите нам текст</p>
		      </div>
		      <div class="modal-body clearfix">
				<input type="text" name="fio" placeholder="ФИО">
				<input class="phone-mask" type="text" name="phone" placeholder="Телефон">
				<input type="text" name="email" placeholder="E-mail">
				<textarea name="text" placeholder="Введите сообщение"></textarea>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- end modals -->
<!-- Styles -->
    <link href="/sites/pk-mags/pk-mags/css/fonts.css" rel="stylesheet">
    <link href="/sites/pk-mags/pk-mags/css/font-awesome.css" rel="stylesheet">
    <link href="/sites/pk-mags/pk-mags/css/slicknav.min.css" rel="stylesheet">
    <link href="/sites/pk-mags/pk-mags/css/select2.min.css" rel="stylesheet">
    <link href="/sites/pk-mags/pk-mags/css/jquery.bxslider.css" rel="stylesheet">
    <link href="/sites/pk-mags/pk-mags/css/main_styles.css" rel="stylesheet">
    <link href="/sites/pk-mags/pk-mags/css/bootstrap.min.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="/sites/pk-mags/pk-mags/js/jquery-2.1.4.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/bootstrap.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/holder.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/html5shiv.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/jquery.scrollTo.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/jquery.validate.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/jquery.mask.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/jquery.slicknav.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/select2.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/jquery.spinner.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/jquery.bxslider.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/masonry.pkgd.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/respond.min.js"></script>
    <script src="/sites/pk-mags/pk-mags/js/main.js"></script>
        <%= javascript_include_tag "jquery_ujs.js" %>


	
  </body>
</html>

