<%= render file: Rails.root+'/app/views/sites/pk-mags/header.html',locals: { page:page, site:site}%>
    <!-- content block -->
    <main class="dealer-page" role="main">
		<section class="banner banner--dealer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="banner__vertical-align-wrap banner__delaer--wrap">
							<div class="banner__inline-block-wrap">
								<p class="banner__title"><span class="banner-dealer__title">Наша задача –</span> <br>обеспечить мкаксимально выгодные условия для каждого партнера.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="dealer-plus">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1>Почему выгодно быть дилером производственной компании «МАГС»?</h1>
						<h3>Мы предоставляем:</h3>
						<ul class="dealer-plus__list">
							<li><i class="fa fa-check-square"></i>Единую ценовую политику. Вам не придется скрывать производителя.</li>
							<li><i class="fa fa-check-square"></i>Скидки от открытого прайса.</li>
							<li><i class="fa fa-check-square"></i>Помощь в организации логистики, бесплатную доставку до транспортной компании.</li>
							<li><i class="fa fa-check-square"></i>Поддержка складского запаса под Ваши потребности.</li>
							<li><i class="fa fa-check-square"></i>Защиту Вашей клиентской базы от ценовых войн.</li>
							<li><i class="fa fa-check-square"></i>Размещение информации о Вас на нашем сайте.</li>
							<li><i class="fa fa-check-square"></i>Постоянное расширение ассортимента с учетом Ваших рекомендаций.</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="dealer-form">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-4 col-md-4 text-center">
						<div class="dealer-form-wrap">
							<p>Узнать подробные условия сотрудничества и получить оптовый прайс.</p>
							<form id="form-validate3" action="" method="post">
								<input name="name" placeholder="Контактное лицо" type="text">
								<input class="phone-mask" name="phone" placeholder="Телефон" type="text">
								<input name="email" placeholder="E-mail" type="text">
								<button class="dealer-form__btn btn3 bg-color-black">Отправить</button>
							</form>							
						</div>
					</div>
				</div>
			</div>
		</section>
    </main>
    <!-- end content block -->

    <%= render file: Rails.root+'/app/views/sites/pk-mags/footer.html',locals: { page:page, site:site}%>

    <!-- modals -->

    <div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <form id="form-validate1" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Обратный звонок</div>	      		
		      	</div>
		      	<p>Оставте ваш телефон, и мы свяжемся с вами в ближайшее время!</p>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone">Телефон для связи</label>
		      		<input  class="phone-mask" name="phone" type="text" id="modal-phone">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>



    <div class="modal fade" id="modal__download-price" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	  <form id="form-validate2" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Скачать полный каталог</div>	      		
		      	</div>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name2">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name2">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone2">Телефон для связи</label>
		      		<input class="phone-mask" name="phone" type="text" id="modal-phone2">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>


    <div class="modal fade" id="modal__ask" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form id="form-validate3" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Задать вопрос</div>	      		
		      	</div>
		      	<p>Напишите нам текст</p>
		      </div>
		      <div class="modal-body clearfix">
				<input type="text" name="fio" placeholder="ФИО">
				<input class="phone-mask" type="text" name="phone" placeholder="Телефон">
				<input type="text" name="email" placeholder="E-mail">
				<textarea name="text" placeholder="Введите сообщение"></textarea>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- end modals -->


	
  </body>
</html>
