<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>МАГС | <%= page.title %></title>

    <!-- bootstrap grid only -->
    <link href="/sites/pk-mags/pk-mags/css/bootstrap.min.css" rel="stylesheet">
        <%= csrf_meta_tags %>
            
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script> 
    <![endif]-->

  </head>
  <body>

    <!-- header block -->
    <header role="banner">
		
		<div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
						<a class="header-bottom__logo" href="/">
							<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/logo.png" alt="МАГС" >
						</a>
					</div>
					
                    <div class="col-xs-6 col-sm-5 col-lg-3 col-xl-4 text-right clearfix" style="padding-top: 35px;
margin-left: 10px; width: 38%">
						<form id="header__form-search" action="" method="post">
							<input id="header__search-field" class="header-top__search header-top__search-open" type="text">
							<span id="header__search-button" class="header-top__submit-search"><i class="fa fa-search"></i></span>
						</form>
					</div>
                    
                    
					<div id="call-back-wrap" class="col-sm-offset-1 col-md-offset-0 col-sm-4 col-md-0 col-lg-2 col-xl-3" style="margin-left: 25px;">
						<a href="#" id="call-back-btn" class="btn1 bg-color-blue header-bottom-call" data-toggle="modal" data-target="#call-back"><i class="fa fa-phone"></i>обратный звонок</a>
					</div>
					<div class="col-xs-8 col-sm-offset-0 col-sm-4 col-md-offset-1 col-lg-offset-0 col-md-3 col-xl-2" style="margin-left:7px;">
						<div id="right-wrap" class="header-bottom-right-wrap">
							<div id="city" class="header-bottom-city">Ваш город:<a href="#">Воронеж</a></div>
							<div id="phone-main" class="phone header-bottom__phone">+7(499)110-19-36<br>+7(473)239-22-63</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="header-nav"role="navigation">
			<div class="container">
				<div class="row">
					<div id="menu-container" class="col-xs-10 col-sm-10 col-lg-9">
						<div id="mobile-menu">
							<i class="fa fa-bars"></i>
						</div>
						<ul id="menu" class="header-nav-list clearfix">
							<li class="header-nav-list__dropdown-menu"><a href="catalog">Каталог<br><br><i class="fa fa-angle-down"></i></a>
								<ul class="header-nav-list__level2">
                                    <% Page.find_by(slug: 'catalog', site_id: site.id).children.each do |menu| %>
                                    <% isLastCategory = Page.find_by(slug: menu.slug, site_id: site.id).children.first.nil? %>
                                     <% if !isLastCategory %>
									       <li><a href="<%=page_full_path(menu)%>"> <%=menu.name%> <i class="fa fa-angle-right"></i></a>
                                       
										      <ul class="header-nav-list__level3">
                                                  <% Page.find_by(slug: menu.slug, site_id: site.id).children.each do |menu_2| %>
                                                    <li><a href="<%=page_full_path(menu_2)%>"><%=menu_2.name%></a></li>
                                                  <% end %>
										      </ul>
									       </li>
                                                      <% else %>
                                                          <li><a href="<%=page_full_path(menu)%>"> <%=menu.name%> </a> </li>
                                                          <% end %>
                                    <% end %>
								</ul>
							</li>
							<li><a href="manufacture">Производство</a></li>
							<li><a href="non-standart">Нестандартные <br>решения</a></li>
							<li><a href="action">Акции</a></li>
							<li><a href="how-to">Как заказать</a></li>
							<li><a href="delivery">Оплата <br>и доставка</a></li>
                            <li><a href="contacts">Контакты</a></li>
						</ul>						
					</div>
					<div class="col-xs-2 col-sm-2 col-lg-3 text-right">
						<a href="basket" class="btn2 bg-color-red header__basket"><i class="fa fa-shopping-cart"></i><span class="header__basket-text">Корзина</span><span class="basket__value"><%=@current_cart.quantity %></span></a>								
					</div>
				</div>
			</div>
		</nav>
    </header>
    <!-- end header block -->