<%= render file: Rails.root+'/app/views/sites/pk-mags/header.html',locals: { page:page, site:site}%>

    <!-- content block -->
    <main class="catalog-list-page" role="main">
    	<div class="breadcrumbs">
    		<div class="container">
    			<div class="row">
    				<div class="col-xs-12">
			    		<ul class="bradcrumbs-list clearfix">
			    			<li><a href="#">Главная</a></li>
			    			<li><a href="#">Стеллажные системы</a></li>
			    			<li><a href="#">Продукция</a></li>
			    			<li>Стеллажные системы</li>
			    		</ul>    					
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="filter-top">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-xs-10 col-sm-5">
	    				<h1 id="catalog-list__main-title">Стеллажные системы</h1>
	    			</div>
	    			<div class="hidden-xs col-xs-3">
	    				<p class="product__in-stock">18 товаров в наличии</p>
	    			</div>
	    			<div class="hidden-xs col-sm-6 col-md-offset-2 col-lg-offset-0 col-md-5 col-lg-4 text-right">
	    				<div class="filter-top__select-wrap">
		    				<p>Сортировать</p>
		    				<select class="filter__select">
		    					<option>цена по возрастанию</option>
		    					<option>цена по убыванию</option>
		    					<option>по дате добавления</option>
		    					<option selected="selected">по умолчанию</option>
		    				</select>	    					
	    				</div>
	    			</div>
	    			<div id="category-sm-cont" class="col-xs-2 col-sm-1">
	    				<a href="#">
	    					<i class="fa fa-bars"></i>
	    				</a>
	    			</div>
	    		</div>
	    	</div>		
    	</div>
    	<section class="catalog-list">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-4 col-lg-4 col-xl-3">
    					<div id="left-cat-wrap">
	    					<aside id="left-category">
		    					<ul class="catalog-list__left-block">
		    						<li><a href="#">для напитков и воды</a></li>
		    						<li><a href="#">для снеков</a></li>
		    						<li><a href="#">для бакалейных товаров</a></li>
		    						<li><a href="#">для специй и приправ</a></li>
		    						<li><a href="#">для овощей и фруктов</a></li>
		    						<li><a href="#">для молочной и прочей продукции</a></li>
		    						<li><a href="#">для одежды и обуви</a></li>
		    						<li><a href="#">для детских товаров и игрушек</a></li>
		    						<li><a href="#">для бытовой техники и электроники</a></li>
		    						<li><a href="#">для канцтоваров</a></li>
		    						<li><a href="#">для стройматериалов</a></li>
		    						<li><a href="#">для хозтоваров и косметики</a></li>
		    						<li><a href="#">для печатной и рекламной продукции</a></li>
		    						<li><a href="#">для автотоваров</a></li>
		    						<li><a href="#">для зоотоваров, спорта, туризма, рыбалки</a></li>
		    						<li><a href="#">для рукоделия и творчества</a></li>
		    						<li><a href="#">для медицинских товаров</a></li>
		    						<li><a href="#">для аксессуаров, украшений, сувениров</a></li>
		    						<li><a href="#">для цветов</a></li>
		    					</ul>
	    					</aside>    						
    					</div>
    				</div>
    				<div class="col-md-8 col-lg-8 col-xl-9">
						<ul class="catalog-list__item clearfix">
							<li>
								<div class="item__stock">акция</div>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__old-price">99999</div>
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</li>
							<li>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</li>
							<li class="info-bottom-clear2 clearfix visible-xs"></li>
							<li>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</li>
							<li class="info-bottom-clear2 clearfix visible-lg visible-md"></li>
							<li>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</li>
							<li class="info-bottom-clear2 clearfix visible-xl visible-xs"></li>
							<li>
								<div class="item__stock">акция</div>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__old-price">99999</div>
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</li>
							<li>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</li>
							<li class="info-bottom-clear2 clearfix visible-xs visible-lg visible-md"></li>							
							<li>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</li>
							<li>
								<a href="#">
									<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/item.jpg" alt="">
								</a>
								<p>Стеллаж пристенный с 5-ю полками</p>
								<div class="item__price-wrap clearfix">
									<div class="item__price">21121 <span class="item__rubl">руб</span></div>			
								</div>
								<a class="btn4 bg-color-blue item__button" href="#">подробнее<i class="fa fa-angle-double-right"></i></a>
							</li>
							<li class="info-bottom-clear2 clearfix visible-xs visible-lg"></li>
						</ul>
						<div class="row">
							<div class="col-xs-12 text-center">
								<ul class="pagination__list clearfix">
									<li><a class="pagination__arrow pagination__prev" href="#"><i class="fa fa-angle-left"></i></a></li>
									<li><a href="#">1</a></li>
									<li><a class="pagination__active" href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a class="pagination__arrow pagination__next" href="#"><i class="fa fa-angle-right"></i></a></li>
								</ul>
							</div>
						</div>
    				</div>
    			</div>
    		</div>
    	</section>
    	<section class="category__desc">
    		<div class="container">
    			<div class="row">
    				<div class="col-xs-12">
	    				<h2 class="line-bottom">Описание категории категории</h2>
	    				<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>    					
    				</div>
    			</div>
    		</div>
    	</section>
    </main>
    <!-- end content block -->

    <%= render file: Rails.root+'/app/views/sites/pk-mags/footer.html',locals: { page:page, site:site}%>

    <!-- modals -->

    <div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <form id="form-validate1" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Обратный звонок</div>	      		
		      	</div>
		      	<p>Оставте ваш телефон, и мы свяжемся с вами в ближайшее время!</p>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone">Телефон для связи</label>
		      		<input  class="phone-mask" name="phone" type="text" id="modal-phone">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>



    <div class="modal fade" id="modal__download-price" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	  <form id="form-validate2" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Скачать полный каталог</div>	      		
		      	</div>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name2">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name2">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone2">Телефон для связи</label>
		      		<input class="phone-mask" name="phone" type="text" id="modal-phone2">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>


    <div class="modal fade" id="modal__ask" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form id="form-validate3" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Задать вопрос</div>	      		
		      	</div>
		      	<p>Напишите нам текст</p>
		      </div>
		      <div class="modal-body clearfix">
				<input type="text" name="fio" placeholder="ФИО">
				<input class="phone-mask" type="text" name="phone" placeholder="Телефон">
				<input type="text" name="email" placeholder="E-mail">
				<textarea name="text" placeholder="Введите сообщение"></textarea>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- end modals -->


	<!-- modal category -->

   <div class="modal fade" id="modal__category" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header clearfix">
	      	<div id="modal__cont-title" class="clearfix">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
	      	</div>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- end modal category -->


  </body>
</html>
