<%= render file: Rails.root+'/app/views/sites/pk-mags/header.html',locals: { page:page, site:site}%>

    <!-- content block -->
    <main class="news-page" role="main">
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12">
    				<h1>Название новости название название этой новости</h1>
    			</div>
    		</div>
    	</div>
		<section class="news">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="news__main-wrap">
							<div class="news__main">
								<img class="img-responsive" src="/sites/pk-mags/pk-mags/images/!userfiles/5.jpg" alt="">
								<p>Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджерам отдела клиентского обслуживания с помощью специальной формы связи или по телефону: 8(495)743-35-36Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджерам отдела клиентского обслуживания с помощью специальной формы связи или по телефону: 8(495)743-35-36Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджерам отдела клиентского обслуживания с помощью специальной формы связи или по телефону: 8(495)743-35-36</p>
							</div>
							<div class="news__date">10.11.2016</div>
							<div class="news__nav-arrow clearfix">
								<a class="news__nav-arrow-prev" href=""><i class="fa fa-angle-left"></i>
									<span id="news_prev">предыдущая новость</span>
								</a>
								<a class="news__nav-arrow-next" href="">
									<span id="news_next">следующая новость</span>
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<aside class="other-news">
							<h2>Другие новости</h2>
							<div class="other-news__item">
								<div class="other-news__item-date">10.11.2016</div>
								<div class="other-news__item-title">Название название Название название</div>
								<p>Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях</p>
								<a class="other-news__learn-link" href="#">Читать подробнее</a>
							</div>
							<div class="other-news__item">
								<div class="other-news__item-date">10.11.2016</div>
								<div class="other-news__item-title">Название название Название название</div>
								<p>Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях</p>
								<a class="other-news__learn-link" href="#">Читать подробнее</a>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</section>
    </main>
    <!-- end content block -->

    <%= render file: Rails.root+'/app/views/sites/pk-mags/footer.html',locals: { page:page, site:site}%>

    <!-- modals -->

    <div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <form id="form-validate1" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Обратный звонок</div>	      		
		      	</div>
		      	<p>Оставте ваш телефон, и мы свяжемся с вами в ближайшее время!</p>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone">Телефон для связи</label>
		      		<input  class="phone-mask" name="phone" type="text" id="modal-phone">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>



    <div class="modal fade" id="modal__download-price" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
      	  <form id="form-validate2" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Скачать полный каталог</div>	      		
		      	</div>
		      </div>
		      <div class="modal-body clearfix">
		      	<div class="modal__name-wrap">
		      		<label for="modal-name2">Как к Вам обращаться</label>
		      		<input name="name" type="text" id="modal-name2">
		      	</div>
		      	<div class="modal__phone-wrap">
		      		<label for="modal-phone2">Телефон для связи</label>
		      		<input class="phone-mask" name="phone" type="text" id="modal-phone2">	      		
		      	</div>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>


    <div class="modal fade" id="modal__ask" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form id="form-validate3" action="" method="post">
		      <div class="modal-header clearfix">
		      	<div class="clearfix">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
			        <div class="modal-title">Задать вопрос</div>	      		
		      	</div>
		      	<p>Напишите нам текст</p>
		      </div>
		      <div class="modal-body clearfix">
				<input type="text" name="fio" placeholder="ФИО">
				<input class="phone-mask" type="text" name="phone" placeholder="Телефон">
				<input type="text" name="email" placeholder="E-mail">
				<textarea name="text" placeholder="Введите сообщение"></textarea>
		      	<div class="modal__submit-wrap">
		      		<button class="btn3 bg-color-blue">отправить</button>	      		
		      	</div>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- end modals -->


	
  </body>
</html>
